
@import 'font-faces.css';

/* common styles */
/* Font grouping */
.section-one-wrapper .section-one-left,.section-two-wrapper .section-two-right,.section-three-wrapper,
.section-four-wrapper,.footer-wrapper .footer-top .info-block,.footer-wrapper .footer-links ul li a,
.footer-wrapper .copyright-block,.top-banner-area .top-banner-inner .text-content,.service-top-banner-area .top-banner-inner .text-content,
.about-top-banner-area .top-banner-inner .text-content,.contact-top-banner-area .top-banner-inner .text-content,
.service-top-banner-area .service-top-left ul li a{
    font-family: 'product_sansregular';
}
.section-one-wrapper .section-one-left h1,.section-two-wrapper .section-two-right h1,.section-three-wrapper h1,
.section-three-wrapper .section-three-bottom .cat-box h5,.section-four-wrapper h1,.footer-wrapper .footer-links h4,
.service-section-first .inner-container .right-col h1,.service-section-two .inner-container .right-col h1,
.service-section-third .inner-container .right-col h1,.service-section-fourth .inner-container .content-box h1,
.career-section-first .inner-container h1,.career-section-first .inner-container .vacancy-wrapper .vacancy-box .vacancy-info h3,
.career-section-two .inner-content h1,.career-section-three .inner-container h1,.career-section-three .inner-container .job-wrapper-data .job-title h2,
.career-section-four .inner-container .readmore-wrapper .readmore-box h3,.about-section-one .inner-container .left-col h1,
.about-section-two h1,.about-section-two h5,.about-section-two h3,.about-section-three .inner-container h1,
.contact-section-one .inner-container .left-col h1,.contact-section-three .inner-container .content-box h2,
.service-top-banner-area .service-top-left h1,.service-digital-transformation .inner-container h1,.service-digital-transformation .inner-container .cat-wrapper .cat-box h5,
.service-section-first .inner-container .right-col .cat-wrapper .cat-box h5,.service-section-two .inner-container .left-col h1,
.about-wrapper .inner-container h1,.contact-section-one .inner-container .right-col h1,
.category-section-two .inner-container .readmore-wrapper .readmore-box h3,.category-section-one .inner-container h1,
.category-top-banner-area .top-banner-inner .text-content h4,.job-section-one h1,.job-section-one .inner-container .text-content h2,
.job-section-two .inner-container h1,.submitcv-section-one h1,.submitcv-section-one .inner-container .text-content h2,
.alljobs-section-one .inner-container h1,.job-section-two .inner-container .job-wrapper-data .job-title h2,
.alljobs-section-one .inner-container .job-wrapper-data .job-title h2,.privacy-policy-section-one .text-content h1,
.dx-consult-section-one h1,.dx-consult-section-two .service-feature-wrapper .service-feature-box h4{
    font-family: 'product_sansbold';
}
/* Font grouping end*/

a:hover {
    text-decoration: none;
    transition: 0.4s;
}

/* Scroll to top styles */
.scrollup {
	bottom: 78px;
	color: #31c77f !important;
	font-size: 36px;
	height: 40px;
	line-height: 40px;
	position: fixed;
	right: 20px !important;
	text-align: center;
	width: 40px;
	z-index: 10000000;
}
/*Scroll to top styles end*/

/* Preloader styles */
.preloader {
	background-color: #fff;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 999999999;
	margin-top: 0px;
	top: 0px;
}
#loading-center {
	width: 100%;
	height: 100%;
	position: relative;
}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;
}
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #31c77f;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/* Preloader styles end */

/* Clearfix styles */
/* .clearfix:before, .clearfix:after { 
    content: ""; 
    display: table; 
}
.clearfix:after { 
    clear: both; 
}
.clearfix { 
    zoom: 1;
} */
/* Clearfix styles end */

/* Wowjs styles */
.wow:first-child {
    visibility: hidden;
}
/* Wowjs styles end */

/* Text animation styles */
.ml2 {
    font-weight: 900;
    font-size: 3.5em;
}
.ml2 .letter {
    display: inline-block;
    line-height: 1em;
}
.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
}
.ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
}
/* Text animation styles end */

body{
    font-family: 'product_sansregular';     
    color: #171724;  
    background: #ffffff;
}
.container{
    max-width: 1600px;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}
.nolr-padding{
    padding-left: 0px;
    padding-right: 0px;
}
.navbar{
    background: #ffffff;
}
.nav-link{
    color: #fff;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.nav-link:hover{
    color: #000;
}
#header .navbar-toggler{
    padding: 15px 15px 15px 0;
    outline: none !important;
}
/* .navbar-expand-lg .navbar-nav{
    padding-right: 3%;
} */
.navbar .dropdown-menu:after{
    display: none;
}
.site-common-btn{
    min-width: 120px;
    background: #31c77f;
    color: #ffffff;
    text-transform: uppercase;
}
.site-common-btn:hover{
    color: #171724;
    -moz-animation: pulse 0.5s ease-in;
    -webkit-animation: pulse 0.5s ease-in;
    animation: pulse 0.5s ease-in;
}
#dropDownBtnLang{
    background: #ececec;
    color: #404040;
    border: none;
    font-size: 12px;
    font-weight: normal;
}
.dropdown-menu.language-select-list {
    left: 0px !important;
    min-width: 100%;
}
.language-select-list li{
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: normal;
}
.language-select-list li a{
    color: #171724;
    padding-left: 15px;
}
.language-select-list li a:hover{
    color: #31c77f;
    text-decoration: none;
}
/* Header styles */
.header-wrapper .language-select{
    min-height: 75px;
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-wrapper .language-select img {
    width: 26px;
}
.header-wrapper .language-select select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;  
    border: none;
    -webkit-appearance: none;
    padding-right: 15px;
    background: url('../external-images/arrow-icon.png') no-repeat 90% center;
    background-size: 8px 6px;
    color: #171724; 
    opacity: 0.7;
    font-weight: 500;
    font-family: 'product_sansbold';
    border-radius: 20px;
    border: 1px solid #31c77f;
}
.header-wrapper .language-select select option{
    background: none !important;
}
.header-wrapper .language-select select option{
    font-family: 'product_sansregular';
}
.header-wrapper .language-select select:hover{
    opacity: 1;
}
.header-wrapper .main-menu-container{
    justify-content: flex-end;
    flex: 6;
}
.header-wrapper .logo-block{
    flex: 1;
}
.header-wrapper .logo-block img{
    display: block;
    margin: 0 auto;
    width: 100%;
}
/* Header styles end */

/* Footer styles */
.footer-wrapper{
    padding-top: 40px;
    background: #23232f;
    color: #ffffff;
}
.footer-wrapper .footer-top{
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #787878;
}
.footer-wrapper .footer-top h1{
    font-family: 'yeseva_oneregular';
    font-size: 46px;
    color: #ffffff;
}
.footer-wrapper .footer-top .info-block{
    padding-left: 0px;
    padding-right: 0px;
    color: #c2c2c2;
}
.footer-wrapper .footer-top .info-block img{
   display: block;
   width: 32%;
   margin-left: -3px;
   margin-bottom: 15px;
}
.footer-wrapper .footer-top .email-subscribe{
    padding-left: 0px;
    padding-right: 0px;
}
.footer-wrapper .footer-top .email-subscribe .input-block{
    padding-left: 0px;
}
.footer-wrapper .footer-top .email-subscribe .btn-block{
    padding-left: 0px;
    padding-right: 0px;
    text-align: right;
}
.footer-wrapper .footer-links{
    padding: 20px 0px 0px 0px;
    border-bottom: 1px solid #787878;
    min-height: 350px;
}
.footer-wrapper .footer-links .footer-link-box{
    padding-left: 0px;
    padding-right: 0px;
}
.footer-wrapper .footer-links h4{
    display: inline-block;
    color: #ffffff;
    margin-bottom: 20px;
    border-bottom: 1px solid #31c77f;
    color: #c2c2c2;
}
.footer-wrapper .footer-links h4 a {
    color: #c2c2c2;
    font-size: 18px;
}
.footer-wrapper .footer-links h4 a:hover {
    color: #31c77f;
}
.footer-wrapper .footer-links ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-wrapper .footer-links ul li a{
    color: #c2c2c2;
}
.footer-wrapper .footer-links ul li{
    margin-bottom: 15px;
}
.footer-wrapper .footer-links ul li a:hover{
    text-decoration: none;
    color: #31c77f;
}
.footer-wrapper .footer-bottom{
    padding-left: 0px;
    padding-right: 0px;
}
.footer-wrapper .footer-bottom a{
    color: #ffffff;
}
.footer-wrapper .copyright-block{
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    min-height: 75px;
    align-items: center;
    color: #c2c2c2;
}
.footer-wrapper .copyright-block span.copyright-icon{
    vertical-align: middle;
    margin-right: 7px;
    font-size: 21px;
    padding-top: 8px;
}
.footer-wrapper .footer-bottom .social-network-block{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
    min-height: 75px;
    justify-content: flex-end;
    align-content: center;

}
.footer-wrapper .footer-bottom .social-network-block a{
    margin-left: 20px;
    font-size: 20px;
    color: #c2c2c2;
}
.footer-wrapper .footer-bottom .social-network-block a:hover{
    color: #31c77f;
    -moz-animation: pulse 0.5s ease-in;
    -webkit-animation: pulse 0.5s ease-in;
    animation: pulse 0.5s ease-in;
}
/* Footer styles end */

/* Index page styles */
.home-page-top-section{
    display: flex;
    min-height: 100vh;
    align-items: center;
    align-content: center;
}
/* .top-banner-area{
    min-height: 650px;
} */
.top-banner-area .top-banner-inner{
   text-align: center;
   color: #ffffff;
}
.top-banner-area .top-banner-inner h1{
    font-family: 'product_sansbold';
    text-align: center;
    font-size: 60px;
    color: #ffffff;
    font-weight: 700;
}
.top-banner-area .top-banner-inner .text-content{
    text-align: center;
    margin-top: 150px;
    font-size: 19px;
}
.section-one-wrapper{
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-one-wrapper .section-one-left{
    text-align: center;
    line-height: 32px;
}
.section-one-wrapper .section-one-left h1{
    text-align: center;
    margin-bottom: 40px;
}
.section-one-wrapper .section-one-right{
    text-align: center;
}
.section-one-wrapper .section-one-right .img-box{
    display: flex;
    flex-basis: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.section-one-wrapper .section-one-right .img-box img{
    border-radius: 4px;
    width: 100%;
    display: block;
    margin: auto auto;
    -webkit-box-shadow: -1px -2px 29px -3px rgba(0,0,0,0.18);
    -moz-box-shadow: -1px -2px 29px -3px rgba(0,0,0,0.18);
    box-shadow: -1px -2px 29px -3px rgba(0,0,0,0.18);
}
.section-two-wrapper{
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-two-wrapper .section-two-left{
    text-align: center;
}
.section-two-wrapper .section-two-right{
    padding-left: 0px;
    padding-right: 0px;
}
.section-two-wrapper .section-two-right .cat-btn-container{
    padding-left: 0px;
    padding-right: 0px;
}
.section-two-wrapper .section-two-right a{
    display: inline-block;
    margin-left: 15px;
}
.section-two-wrapper .section-two-right h1{
    margin-bottom: 40px;
    padding-left: 15px;
}
.section-two-wrapper .section-two-right .cat-box{
   padding-right: 0px;
   margin-bottom: 40px;
}
.section-two-wrapper .section-two-right .cat-box h5 span{
    display: inline-block;
    margin-right: 15px;
    font-size: 36px;
    color: #31c77f;
    margin-bottom: 15px;
}
.section-two-wrapper .section-two-right .cat-box .cat-info{
    font-size: 14px;
}
.section-three-wrapper{
    padding-top: 50px;
}
.section-three-wrapper h1{
    text-align: center;
    margin-bottom: 40px;
}
.section-three-wrapper .section-three-top{
    text-align: center;
}
.section-three-wrapper .section-three-top .text-content{
    margin-bottom: 40px;
}
.section-three-wrapper .section-three-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section-three-wrapper .section-three-bottom .cat-box{
    flex-basis: 28%;
    padding: 25px 4% 25px 4%;
    margin-bottom: 50px;
    -webkit-box-shadow: -1px 0px 16px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: -1px 0px 16px 0px rgba(0,0,0,0.29);
    box-shadow: -1px 0px 16px 0px rgba(0,0,0,0.29);
    background: #ffffff;
}
.section-three-wrapper .section-three-bottom .cat-box h5{
    margin-top: 30px;
    margin-bottom: 30px;
}
.section-five-wrapper{
    padding-top: 0px;
    padding-bottom: 0px;
}
.section-five-wrapper img{
    display: block;
    width: 100%;
}
.section-four-wrapper{
    padding-top: 50px;
    padding-bottom: 50px;
    background: #e2e2e2;
}
.section-four-wrapper h1{
    text-align: center;
}
.section-four-wrapper .section-four-right .panel-heading{
    min-height: 70px;
}
.section-four-wrapper .section-four-right .panel-heading a{
    color: #171724;
}
.section-four-wrapper .section-four-right .panel-heading a span{
    display: inline-block;
    margin-right: 16px;
}
.section-four-wrapper .section-four-right .panel-heading a:hover{
    text-decoration: none;
}
.section-four-wrapper .section-four-right .panel-body h6{
    font-weight: bold;
    margin-bottom: 20px;
}
.section-four-wrapper .section-four-right .panel-body .text-content{
    margin-bottom: 30px;
    font-size: 14px;
}
.quick-tab-section{
    min-height: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-shadow: 0px 8px 9px -6px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 8px 9px -6px rgba(0,0,0,0.18);
    box-shadow: 0px 8px 9px -6px rgba(0,0,0,0.18);
}
.quick-tab-section .quick-tab-inner{
    padding: 12px 0px 12px 0px;
    display: flex;
    flex-wrap: wrap;
}
.quick-tab-section .quick-tab-inner .tab-box{
    display: flex;
    flex-wrap: wrap;
    padding-left: 2.5%;
    padding-right: 2.5%;
    flex-basis: 25%;
    min-height: 75px;
    border-right: 2px solid #b2b2b2;
    /* outline: 1px solid red; */
}
.quick-tab-section .quick-tab-inner .tab-box:last-child{
    border-right: none;
}
.quick-tab-section .quick-tab-inner .tab-box a{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    flex-basis: 100%;
    color: #171724;
    align-items: center;
}
.quick-tab-section .quick-tab-inner .tab-box a:hover{
    text-decoration: none;
    color: #31c77f;
}
.quick-tab-section .quick-tab-inner .tab-box a img{
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 5%;
    opacity: 0.75;
}
.quick-tab-section .quick-tab-inner .tab-box a img:hover{
    opacity: 1;
}


/* Index page styles end */

/* Services page styles */
.service-top-banner-area{
    display: flex;
    flex-wrap: wrap;
    min-height: 1048px;
}
.service-top-banner-area .service-top-left{
    background: #ffffff;
    position: absolute;
    min-height: 100%;
    width: 30%;
    padding-left: 5%;
    padding-top: 150px;
}
.service-top-banner-area .service-top-left h1{
    margin-bottom: 100px;
}
.service-top-banner-area .service-top-left ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.service-top-banner-area .service-top-left ul li{
    margin-bottom: 25px;
}
.service-top-banner-area .service-top-left ul li a{
    color: #171724;
}
.service-top-banner-area .service-top-left ul li a:hover{
    text-decoration: none;
    color: #31c77f;
}
.service-top-banner-area .service-top-left .service-mobile-bg{
    width: 100%;
    margin-bottom: 40px;
    display: none;
}
.service-top-banner-area .service-top-left .service-mobile-bg img{
    display: block;
    width: 100%;
}
.service-digital-transformation{
    min-height: 750px;
}
.service-digital-transformation .inner-container h1{
    padding-top: 30px;
    margin-bottom: 75px;
    color: #ffffff;
}
.service-digital-transformation .inner-container .cat-wrapper .cat-box{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
}
.service-digital-transformation .inner-container .cat-wrapper .cat-box h5{
    margin-bottom: 20px;
    color: #ffffff;
}
.service-digital-transformation .inner-container .cat-wrapper .cat-box h5 span{
    margin-right: 15px;
}
.service-digital-transformation .inner-container .cat-wrapper .cat-box .cat-info{
   color: #ffffff;
}

/*============= NEW COMPONENT STYLES CHANGED ON 20-07-2020 ================*/

.service-top-banner-area .top-banner-inner{
    padding-top: 100px;
    height: 100%;
    color: #171724;
    background: #ffffff;
    top: -91px;
}
.service-top-banner-area .top-banner-inner h1{
    font-family: 'yeseva_oneregular';
    font-size: 60px;
    color: #171724;
}
.service-top-banner-area .top-banner-inner .text-content{
    margin-top: 25px;
    font-size: 19px;
    margin-bottom: 30px;
}
.service-top-banner-area .top-banner-inner .image-content img{
    display: inline-block; 
    width: 50%;
}
.service-section-first{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 125px;
}
.service-section-first .inner-container{
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto;
}
.service-section-first .inner-container .row{
    display: flex;
    flex-wrap: wrap;
}
.service-section-first .inner-container .left-col{
    padding-left: 0px;
    padding-right: 0px;
    order: 2;
    /* background: url("../external-images/service_img_03@2x.png") no-repeat; */
}
.service-section-first .inner-container .right-col{
    display: flex;
    flex-wrap: wrap;
    order: 1;
    align-content: center;
}
.service-section-first .inner-container .right-col h1{
    flex-basis: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.service-section-first .inner-container .left-col img{
    width: 100%;
}
.service-section-first .inner-container .right-col .cat-wrapper .cat-box{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.service-section-first .inner-container .right-col .cat-wrapper .cat-box h5{
    margin-bottom: 0px;
    color: #171724;
}
.service-section-first .inner-container .right-col .cat-wrapper .cat-box h5 span{
    margin-right: 15px;
}
.service-section-first .inner-container .right-col .cat-wrapper .cat-box .cat-info{
    color: #171724;
}
.service-section-two{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 30px;
}
.service-section-two .inner-container{
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto;
}
.service-section-two .inner-container .row{
    display: flex;
    flex-wrap: wrap;
}
.service-section-two .inner-container .left-col{
    padding-left: 0px;
    padding-right: 0px;
    order: 1;
    /* background: url("../external-images/service_img_03@2x.png") no-repeat; */
}
.service-section-two .inner-container .right-col{
    display: flex;
    flex-wrap: wrap;
    order: 2;
    align-content: center;
}
.service-section-two .inner-container .right-col h1{
    margin-top: 40px;
    margin-bottom: 40px;
}
.service-section-two .inner-container .left-col img{
    width: 100%;
}
.service-section-two .inner-container .right-col .cat-wrapper .cat-box{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.service-section-two .inner-container .right-col .cat-wrapper .cat-box h5{
    margin-bottom: 0px;
    color: #171724;
}
.service-section-two .inner-container .right-col .cat-wrapper .cat-box h5 span{
    margin-right: 15px;
}
.service-section-two .inner-container .right-col .cat-wrapper .cat-box .cat-info{
    color: #171724;
}
.service-section-three{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 30px;
}
.service-section-three .inner-container{
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto;
}
.service-section-three .inner-container .row{
    display: flex;
    flex-wrap: wrap;
}
.service-section-three .inner-container .left-col{
    padding-left: 0px;
    padding-right: 0px;
    order: 2;
    /* background: url("../external-images/service_img_03@2x.png") no-repeat; */
}
.service-section-three .inner-container .right-col{
    display: flex;
    flex-wrap: wrap;
    order: 1;
    align-content: center;
}
.service-section-three .inner-container .right-col h1{
    margin-top: 40px;
    margin-bottom: 40px;
}
.service-section-three .inner-container .left-col img{
    width: 100%;
}
.service-section-three .inner-container .right-col .cat-wrapper .cat-box{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.service-section-three .inner-container .right-col .cat-wrapper .cat-box h5{
    margin-bottom: 0px;
    color: #171724;
}
.service-section-three .inner-container .right-col .cat-wrapper .cat-box h5 span{
    margin-right: 15px;
}
.service-section-three .inner-container .right-col .cat-wrapper .cat-box .cat-info{
    color: #171724;
}
.service-section-four{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 30px;
}
.service-section-four .inner-container{
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto;
}
.service-section-four .inner-container .row{
    display: flex;
    flex-wrap: wrap;
}
.service-section-four .inner-container .left-col{
    padding-left: 0px;
    padding-right: 0px;
    order: 1;
    /* background: url("../external-images/service_img_03@2x.png") no-repeat; */
}
.service-section-four .inner-container .right-col{
    display: flex;
    flex-wrap: wrap;
    order: 2;
    align-content: center;
}
.service-section-four .inner-container .right-col h1{
    margin-top: 40px;
    margin-bottom: 40px;
}
.service-section-four .inner-container .left-col img{
    width: 100%;
}
.service-section-four .inner-container .right-col .cat-wrapper .cat-box{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.service-section-four .inner-container .right-col .cat-wrapper .cat-box h5{
    margin-bottom: 0px;
    color: #171724;
}
.service-section-four .inner-container .right-col .cat-wrapper .cat-box h5 span{
    margin-right: 15px;
}
.service-section-four .inner-container .right-col .cat-wrapper .cat-box .cat-info{
    color: #171724;
}
.learn-more-dx{
    margin-top: 20px;
}

/* .service-section-two{
    padding-top: 0px;
    padding-bottom: 0px;
}
.service-section-two .inner-container{ */
    /* display: flex;
    flex-wrap: wrap; */
    /* padding-left: 0px;
    padding-right: 0px; */
/* } */
/* .service-section-two .inner-container .right-col{
    min-height: 1534px;
    padding-left: 0px;
    padding-right: 0px;
    background: url("../external-images/service_img_04@2x.png") no-repeat;
}
.service-section-two .inner-container .left-col h1{
    margin-top: 60px;
    margin-bottom: 75px;
}
.service-section-two .inner-container .right-col img{
    display: none;
    width: 100%;
}
.service-section-third{
    padding-top: 50px;
    padding-bottom: 50px;
}
.service-section-third .inner-container{
    float: none;
    margin: 0 auto;
}
.service-section-third .inner-container .left-col{
    padding-left: 0px;
    padding-right: 0px;
}
.service-section-third .inner-container .left-col img{
    display: inline-block;
    width: 100%;
}
.service-section-third .inner-container .right-col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.service-section-third .inner-container .right-col h1{
    margin-bottom: 30px;
}
.service-section-fourth{
    padding-top: 0px;
    padding-bottom: 50px;
}
.service-section-fourth .inner-container{
    float: none;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    background: #e2e2e2;
}
.service-section-fourth .inner-container .content-box{
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
}
.service-section-fourth .inner-container .content-box h1{
    margin-bottom: 30px;
}
.service-section-fourth .inner-container .content-box .text-content{
    line-height: 32px;
} */
/* Service page styles end */

/* Career page styles */
.career-top-banner-area{
    min-height: 650px;
}
.career-top-banner-area .top-banner-inner{
   text-align: center;
   color: #ffffff;
}
.career-top-banner-area .top-banner-inner h1{
    font-family: 'product_sansbold';
    text-align: center;
    font-size: 60px;
    color: #ffffff;
    font-weight: 700;
}
.career-top-banner-area .top-banner-inner .text-content{
    text-align: center;
    margin-top: 25px;
    font-size: 19px;
}
.career-top-banner-area .top-banner-inner .job-search-container{
    padding-left: 0px;
    padding-right: 0px;
}
.career-top-banner-area .top-banner-inner .job-search-container .form-group{
    position: relative;
}
/* .career-top-banner-area .top-banner-inner .job-search-container .form-group input[type="text"]{
    padding-right: 55px;
} */
.career-top-banner-area .top-banner-inner .job-search-container .form-group a{
   position: absolute;
   font-size: 26px;
   top: 50%;
   transform: translateY(-50%);
   right: 2%;
   color: #b2b2b2;
}
.career-top-banner-area .top-banner-inner .select-container{
    padding-left: 0px;
    padding-right: 0px;
}
.career-top-banner-area .top-banner-inner .select-container .form-group{
    width: 95%;
}
.career-top-banner-area .top-banner-inner .button-container{
    padding-left: 0px;
    padding-right: 0px;
}
.career-top-banner-area .top-banner-inner .button-container .form-group button{
    background: #31c77f;
    color: #ffffff;
    border: none;
    width: 100%;
    min-height: 60px;
}
.career-section-first{
    padding-top: 50px;
    padding-bottom: 50px;
}
.career-section-first .inner-container {
    margin: 0 auto;
    text-align: center;
}
.career-section-first .inner-container h1{
    margin-bottom: 30px;
    text-align: center;
}
.career-section-first .inner-container .vacancy-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: space-between;
}
.career-section-first .inner-container .vacancy-wrapper .vacancy-box{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 30%;
    margin-bottom: 35px;
}
.career-section-first .inner-container .vacancy-wrapper .vacancy-box .image-content{
    flex-basis: 100%;
}
.career-section-first .inner-container .vacancy-wrapper .vacancy-box .image-content img{
    display: block;
    width: 100%;
    border-radius: 8px;
    opacity: 0.75;
}
.career-section-first .inner-container .vacancy-wrapper .vacancy-box .image-content img:hover{
    opacity: 1;
}
.career-section-first .inner-container .vacancy-wrapper .vacancy-box .vacancy-info{
    flex-basis: 100%;
}
.career-section-first .inner-container .vacancy-wrapper .vacancy-box .vacancy-info h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.career-section-first .inner-container .vacancy-wrapper .vacancy-box .vacancy-info .text-content{
    flex-basis: 100%;
    text-align: center;
}
.career-section-first .inner-container .vacancy-wrapper .vacancy-box .vacancy-info .text-content .vacancy-apply-btn{
    display: none;
}
.career-section-first .inner-container .vacancy-wrapper .vacancy-box .vacancy-info  .positions-count{
    color: #31c77f;
    font-weight: bold;
    margin-top: 20px;
}
.career-section-first .inner-container .vacancy-wrapper .vacancy-box .vacancy-info .text-content:hover > .vacancy-apply-btn{
    display: inline-block;
}
.career-section-two .row{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
}
.career-section-two .inner-content{
    display: flex;
    float: none;
    margin: auto auto;
    text-align: right;
}
.career-section-two .inner-content h1{
    flex-basis: 100%;
    color: #ffffff;
}
.career-section-three{
    padding-top: 50px;
    padding-bottom: 50px;
}
.career-section-three .inner-container{
    float: none;
    margin: 0 auto;
}
.career-section-three .inner-container h1{
    text-align: center;
    margin-bottom: 30px;
}
.career-section-three .inner-container .job-content{
    padding-left: 0px;
    padding-right: 0px;
}
.career-section-three .inner-container .job-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.career-section-three .inner-container .job-wrapper-data{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #b2b2b2;
}
.career-section-three .inner-container .job-wrapper-data .job-title{
    flex: 3;
    text-align: left;
}
.career-section-three .inner-container .job-wrapper-data .job-category-col-left{
    flex: 1;
    text-align: left;
}
.career-section-three .inner-container .job-wrapper-data .job-category-col-right{
    flex: 1;
    text-align: left;
}
.career-section-three .inner-container .job-wrapper .job-title{
    flex: 3;
    text-align: left;
    font-weight: bold;
}
.career-section-three .inner-container .job-wrapper .job-category-col-left{
    flex: 1;
    text-align: left;
    font-weight: bold;
}
.career-section-three .inner-container .job-wrapper .job-category-col-right{
    flex: 1;
    text-align: left;
    font-weight: bold;
}
.career-section-three .inner-container .btn-container{
    margin-top: 80px;
    text-align: center;
}
.career-section-three .inner-container .btn-container button{
    text-transform: uppercase;
}
.career-section-four{
    padding-top: 50px;
    padding-bottom: 50px;
}
.career-section-four .inner-container{
    float: none;
    margin: 0 auto;
}
.career-section-four .inner-container .readmore-wrapper{
    padding-left: 0px;
    padding-right: 0px;
}
.career-section-four .inner-container .readmore-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: space-around;
}
.career-section-four .inner-container .readmore-wrapper .readmore-box{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 27%;
    justify-content: center;
    margin-bottom: 25px;
}
.career-section-four .inner-container .readmore-wrapper .readmore-box img{
    display: block;
    width: 100%;
    margin: 0 auto;
}
.career-section-four .inner-container .readmore-wrapper .readmore-box h3{
    margin-top: 20px;
    margin-bottom: 20px;
    flex-basis: 100%;
    text-align: center;
}
.career-section-four .inner-container .readmore-wrapper .readmore-box .text-content{
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
}
.career-section-four .inner-container .readmore-wrapper .readmore-box .btn-container{
    flex-basis: 100%;
    text-align: center;
}
.career-section-four .inner-container .readmore-wrapper .readmore-box .btn-container a{
    color: #31c77f;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
}
.career-section-four .inner-container .readmore-wrapper .readmore-box .btn-container a:hover{
    text-decoration: none;
    color: #171724;
}
/* Career page styles end */

/* About page styles */
/*==================== NEW PAGE COMPONENT STYLES ========================*/
.about-wrapper{
    padding-top: 0px;
    padding-bottom: 0px;
}
.about-wrapper .inner-container{
    padding-left: 0px;
    padding-right: 0px;
}
/* .about-wrapper .inner-container .section-top{
    min-height: 1275px;
    background: url("../external-images/bg_img_01.jpg") no-repeat center top;
}
.about-wrapper .inner-container .section-middle{
    min-height: 1275px;
    background: url("../external-images/bg_img_02.jpg") no-repeat center top;
}
.about-wrapper .inner-container .section-middle-two{
    min-height: 1275px;
    background: url("../external-images/bg_img_03.jpg") no-repeat center top;
}
.about-wrapper .inner-container .section-bottom{
    min-height: 1850px;
    background: url("../external-images/bg_img_04.jpg") no-repeat center top;
} */
/* .about-wrapper .inner-container .section-top{
    min-height: 1275px;
    background: url("../external-images/about-us-old-imgs/25-08-2020/bg_img_01.png") no-repeat center top;
}
.about-wrapper .inner-container .section-middle{
    min-height: 1275px;
    background: url("../external-images/about-us-old-imgs/25-08-2020/bg_img_02.png") no-repeat center top;
}
.about-wrapper .inner-container .section-middle-two{
    min-height: 1275px;
    background: url("../external-images/about-us-old-imgs/25-08-2020/bg_img_03.png") no-repeat center top;
}
.about-wrapper .inner-container .section-bottom{
    min-height: 1266px;
    background: url("../external-images/about-us-old-imgs/25-08-2020/bg_img_04.png") no-repeat center top;
} */

.about-wrapper .inner-container .section-top{
    min-height: 1275px;
    background: url("../external-images/about-us-old-imgs/06-09-2020/bg_img_01.png") no-repeat center top;
}
.about-wrapper .inner-container .section-middle{
    min-height: 1275px;
    background: url("../external-images/about-us-old-imgs/06-09-2020/bg_img_02.png") no-repeat center top;
}
.about-wrapper .inner-container .section-middle-two{
    min-height: 1275px;
    background: url("../external-images/about-us-old-imgs/06-09-2020/bg_img_03.png") no-repeat center top;
}
.about-wrapper .inner-container .section-bottom{
    min-height: 1266px;
    background: url("../external-images/about-us-old-imgs/06-09-2020/bg_img_04.png") no-repeat center top;
}
.about-wrapper .inner-container .row{
    position: relative;
}
.about-wrapper .inner-container .text-content{
    position: absolute;
    top: 92px;
    z-index: 1020;
}
.about-wrapper .inner-container .text-content .text-box{
    margin-bottom: 90px;
}
.about-wrapper .inner-container .text-content .text-row-one {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 200px;
}
.about-wrapper .inner-container .text-content .text-row-one h1{
    flex-basis: 100%;
    font-size: 62px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    margin-top: 200px;
    margin-bottom: 60px;
}
.about-wrapper .inner-container .text-content .text-row-one .col-left{
    flex-basis: 50%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    color: #ffffff;
    font-size: 17px;
    line-height: 32px;
}
.about-wrapper .inner-container .text-content .text-row-one .col-right{
    flex-basis: 50%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    color: #ffffff;
    font-size: 17px;
    line-height: 32px;
}
.about-wrapper .inner-container .text-content .text-row-two{
    display: flex;
    flex-wrap: wrap;
}
.about-wrapper .inner-container .text-content .text-row-two h1{
    flex-basis: 100%;
    margin-bottom: 60px;
    text-transform: uppercase;
    text-align: center;
    color: #171724;
    font-size: 62px;
}
.about-wrapper .inner-container .text-content .text-row-two .text-box{
    flex-basis: 50%;
    margin: 0 auto 90px auto;
    text-align: center;
    font-size: 17px;
    line-height: 32px;
}
.about-wrapper .inner-container .text-content .text-row-three{
    display: flex;
    flex-wrap: wrap;
}
.about-wrapper .inner-container .text-content .text-row-three h1{
    flex-basis: 100%;
    margin-bottom: 60px;
    text-transform: uppercase;
    text-align: center;
    color: #171724;
    font-size: 62px;
}
.about-wrapper .inner-container .text-content .text-row-three .text-box{
    flex-basis: 50%;
    margin: 0 auto 90px auto;
    text-align: center;
    font-size: 17px;
    line-height: 32px;
}
.about-wrapper .inner-container .text-content .text-row-four{
    display: flex;
    flex-wrap: wrap;
}
.about-wrapper .inner-container .text-content .text-row-four h1{
    flex-basis: 100%;
    margin-bottom: 60px;
    text-transform: uppercase;
    text-align: center;
    color: #171724;
    font-size: 62px;
}
.about-wrapper .inner-container .text-content .text-row-four .text-box{
    flex-basis: 50%;
    margin: 0 auto 90px auto;
    text-align: center;
    font-size: 17px;
    line-height: 32px;
}
.about-wrapper .inner-container .text-content .text-row-five{
    display: flex;
    flex-wrap: wrap;
}
.about-wrapper .inner-container .text-content .text-row-five h1{
    flex-basis: 100%;
    margin-bottom: 60px;
    text-transform: uppercase;
    text-align: center;
    color: #171724;
    font-size: 62px;
}
.about-wrapper .inner-container .text-content .text-row-five .text-box{
    flex-basis: 50%;
    margin: 0 auto 90px auto;
    text-align: center;
    font-size: 17px;
    line-height: 32px;
}
.about-wrapper .inner-container .text-content .text-row-six{
    display: flex;
    flex-wrap: wrap;
}
.about-wrapper .inner-container .text-content .text-row-six h1{
    flex-basis: 100%;
    margin-bottom: 60px;
    text-transform: uppercase;
    text-align: center;
    color: #171724;
    font-size: 62px;
}
.about-wrapper .inner-container .text-content .text-row-six .text-box{
    flex-basis: 50%;
    margin: 0 auto 90px auto;
    text-align: center;
    font-size: 17px;
    line-height: 32px;
}
.about-wrapper .inner-container .text-content .text-row-seven{
    display: flex;
    flex-wrap: wrap;
}
.about-wrapper .inner-container .text-content .text-row-seven h1{
    flex-basis: 100%;
    margin-bottom: 60px;
    text-transform: uppercase;
    text-align: center;
    color: #171724;
    font-size: 62px;
}
.about-wrapper .inner-container .text-content .text-row-seven .text-box{
    flex-basis: 50%;
    margin: 0 auto 90px auto;
    text-align: center;
    font-size: 17px;
    line-height: 32px;
}

/*==================== OLD PAGE COMPONENT STYLES ========================*/

.about-top-banner-area{
    min-height: 650px;
}
.about-top-banner-area .top-banner-inner{
   text-align: center;
   color: #ffffff;
}
.about-top-banner-area .top-banner-inner h1{
    font-family: 'yeseva_oneregular';
    text-align: center;
    font-size: 60px;
    color: #ffffff;
}
.about-top-banner-area .top-banner-inner .text-content{
    text-align: center;
    margin-top: 25px;
    font-size: 19px;
}
.about-section-one{
    padding-top: 50px;
    padding-bottom: 50px;
}
.about-section-one{
    padding-top: 50px;
    padding-bottom: 50px;
}
.about-section-one .inner-container{
    margin: 0 auto;
}
.about-section-one .inner-container .left-col{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 60px 4% 60px 4%;
}
.about-section-one .inner-container .right-col{
    text-align: center;
    font-size: 22px;
    padding: 60px 4% 60px 4%;
    background: #e2e2e2;
    line-height: 36px;

}
.about-section-one .inner-container .right-col .text-content span.left-quote{
    margin-right: 25px;
    font-size: 32px;
    color: #31c77f;
}
.about-section-one .inner-container .right-col .text-content span.right-quote{
    margin-left: 25px;
    font-size: 32px;
    color: #31c77f;
}
.about-section-one .inner-container .left-col h1{
    text-align: center;
}
.about-section-two{
    padding-top: 50px;
    padding-bottom: 50px;
}
.about-section-three{
    padding-top: 50px;
    padding-bottom: 50px;
}
.about-section-three .inner-container h1{
    margin-bottom: 30px;
}
.about-section-three .inner-container .review-box img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
/* About page styls end */

/* Contact us styles */
/*==================== NEW PAGE COMPONENT STYLES ========================*/
.contact-top-banner-area{
    min-height: 332px;
}
.contact-top-banner-area .top-banner-inner{
    text-align: right;
    color: #ffffff;
}
.contact-top-banner-area .top-banner-inner h1{
    font-family: 'product_sansbold';
    text-align: right;
    font-size: 60px;
    color: #171724;
    font-weight: 700;
}
.contact-section-one{
    padding-top: 50px;
    padding-bottom: 50px;
    background: #ffffff;
}
.contact-section-one{
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact-section-one .inner-container{
    margin: 0 auto;
}
.contact-section-one .inner-container .left-col{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-left: 8%;
    padding-right: 8%;
}
.contact-section-one .inner-container .left-col{
    display: flex;
    flex-wrap: wrap;
    padding-left: 8%;
    padding-right: 8%;
}
.contact-section-one .inner-container .left-col .text-content{
    display: flex;
    flex-wrap: wrap;
} 
.contact-section-one .inner-container .left-col .text-content p{
    margin-bottom: 10px;
}
.contact-section-one .inner-container .left-col .text-content .icon-info{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin-bottom: 30px;
    font-size: 21px;
}
.contact-section-one .inner-container .left-col .text-content .icon-info .info-left{
    flex-basis: 12%;
}
.contact-section-one .inner-container .left-col .text-content .icon-info .info-right{
    flex-basis: 88%;
}
.contact-section-one .inner-container .left-col .text-content .icon-info .info-right .office-hours{
    font-size: 15px;
    color: #888a89;
    margin-top: 15px;
}
.contact-section-one .inner-container .right-col{
    padding-left: 8%;
    padding-right: 8%;
}
.contact-section-one .inner-container .right-col .form-group label span{
    color: red;
}
/*==================== OLD PAGE COMPONENT STYLES ========================*/
.contact-top-banner-area .top-banner-inner .text-content{
    text-align: center;
    margin-top: 25px;
    font-size: 19px;
}
.contact-section-two{
    padding-top: 0px;
    padding-bottom: 50px;
}
.contact-section-two .inner-container{
    float: none;
    margin: 0 auto;
}
.contact-section-three{
    padding-top: 0px;
    padding-bottom: 50px;
}
.contact-section-three .inner-container{
    float: none;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    background: #e2e2e2;
}
.contact-section-three .inner-container .content-box{
    padding-left: 4%;
    padding-right: 4%;
}
.contact-section-three .inner-container .content-box h2{
    text-align: center;
    margin-bottom: 30px;
}
.contact-section-three .inner-container .content-box .contact-info-icon{
    font-size: 26px;
    color: #31c77f;
}
.contact-section-three .inner-container .content-box .contact-info-box{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.contact-section-three .inner-container .content-box .info-left{
    flex: 1;
    text-align: right;
}
.contact-section-three .inner-container .content-box .info-right{
    flex: 2;
    padding-left: 10%;
    text-align: left;
}
/* Contact us styles end */

/* Category page styles */
.category-top-banner-area{
    min-height: 650px;
}
.category-top-banner-area .top-banner-inner{
   text-align: center;
   color: #ffffff;
}
.category-top-banner-area .top-banner-inner h1{
    font-family: 'product_sansbold';
    text-align: center;
    font-size: 60px;
    color: #ffffff;
    font-weight: 700;
}
.category-top-banner-area .top-banner-inner .text-content{
    text-align: center;
    margin-top: 25px;
    font-size: 19px;
}
.category-top-banner-area .top-banner-inner .job-search-container{
    padding-left: 0px;
    padding-right: 0px;
}
.category-top-banner-area .top-banner-inner .job-search-container .form-group{
    position: relative;
}
/* .category-top-banner-area .top-banner-inner .job-search-container .form-group input[type="text"]{
    padding-right: 55px;
} */
.category-top-banner-area .top-banner-inner .job-search-container .form-group a{
   position: absolute;
   font-size: 26px;
   top: 50%;
   transform: translateY(-50%);
   right: 2%;
   color: #b2b2b2;
}
.category-top-banner-area .top-banner-inner .select-container{
    padding-left: 0px;
    padding-right: 0px;
}
.category-top-banner-area .top-banner-inner .select-container .form-group{
    width: 95%;
}
.category-top-banner-area .top-banner-inner .button-container{
    padding-left: 0px;
    padding-right: 0px;
}
.category-top-banner-area .top-banner-inner .button-container .form-group button{
    background: #31c77f;
    color: #ffffff;
    border: none;
    width: 100%;
    min-height: 60px;
}
.category-section-one{
    padding-top: 50px;
    padding-bottom: 50px;
}
.category-section-one .inner-container{
    float: none;
    margin: 0 auto;
}
.category-section-one .inner-container h1{
    text-align: center;
    margin-bottom: 30px;
}
.category-section-one .inner-container .job-content{
    padding-left: 0px;
    padding-right: 0px;
}
.category-section-one .inner-container .job-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.category-section-one .inner-container .job-wrapper-data{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #b2b2b2;
}
.category-section-one .inner-container .job-wrapper-data:last-child{
    border-bottom: none;
}
.category-section-one .inner-container .job-wrapper-data .job-title{
    flex: 3;
    text-align: left;
}
.category-section-one .inner-container .job-wrapper-data .job-title h2 a{
    color: #171724;
}
.category-section-one .inner-container .job-wrapper-data .job-title h2 a:hover{
    text-decoration: none;
    color: #31c77f;
}
.category-section-one .inner-container .job-wrapper-data .job-category-col-left{
    flex: 1;
    text-align: left;
}
.category-section-one .inner-container .job-wrapper-data .job-category-col-right{
    flex: 1;
    text-align: left;
}
.category-section-one .inner-container .job-wrapper .job-title{
    flex: 3;
    text-align: left;
    font-weight: bold;
}
.category-section-one .inner-container .job-wrapper .job-category-col-left{
    flex: 1;
    text-align: left;
    font-weight: bold;
}
.category-section-one .inner-container .job-wrapper .job-category-col-right{
    flex: 1;
    text-align: left;
    font-weight: bold;
}
.category-section-one .inner-container .btn-container{
    margin-top: 80px;
    text-align: center;
}
.category-section-one .inner-container .btn-container button{
    text-transform: uppercase;
}
.category-section-one .inner-container .cat-location-select{
    margin-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
}
.category-section-one .inner-container .cat-location-select .select-container-left{
    padding-left: 0px;
}
.category-section-one .inner-container .cat-location-select .select-container-right{
    padding-right: 0px;
}

/* =================== OLD COMPONENT STYLES ==================*/

/* .category-top-banner-area{
    min-height: 685px;
}
.category-top-banner-area .top-banner-inner{
   text-align: center;
   color: #ffffff;
}
.category-top-banner-area .top-banner-inner h1{
    font-family: 'product_sansbold';
    text-align: center;
    font-size: 60px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 91px;
}
.category-top-banner-area .top-banner-inner .text-content{
    text-align: center;
    margin-top: 25px;
    font-size: 19px;
}
.category-top-banner-area .top-banner-inner .text-content h4{
    color: #ffffff;
}
.category-section-two{
    padding-top: 50px;
    padding-bottom: 50px;
}
.category-section-two .inner-container{
    float: none;
    margin: 0 auto;
}
.category-section-two .inner-container .readmore-wrapper{
    padding-left: 0px;
    padding-right: 0px;
}
.category-section-two .inner-container .readmore-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: space-around;
}
.category-section-two .inner-container .readmore-wrapper .readmore-box{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 27%;
    justify-content: center;
    margin-bottom: 25px;
}
.category-section-two .inner-container .readmore-wrapper .readmore-box img{
    display: block;
    width: 100%;
    margin: 0 auto;
}
.category-section-two .inner-container .readmore-wrapper .readmore-box h3{
    margin-top: 20px;
    margin-bottom: 20px;
    flex-basis: 100%;
    text-align: center;
}
.category-section-two .inner-container .readmore-wrapper .readmore-box .text-content{
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
}
.category-section-two .inner-container .readmore-wrapper .readmore-box .btn-container{
    flex-basis: 100%;
    text-align: center;
}
.category-section-two .inner-container .readmore-wrapper .readmore-box .btn-container a{
    color: #31c77f;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
}
.category-section-two .inner-container .readmore-wrapper .readmore-box .btn-container a:hover{
    text-decoration: none;
    color: #171724;
}
.category-section-one{
    padding-top: 50px;
    padding-bottom: 50px;
}
.category-section-one .inner-container{
    float: none;
    margin: 0 auto;
}
.category-section-one .inner-container h1{
    text-align: center;
    margin-bottom: 30px;
}
.category-section-one .inner-container .job-content{
    padding-left: 0px;
    padding-right: 0px;
}
.category-section-one .inner-container .job-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.category-section-one .inner-container .job-wrapper-data{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #b2b2b2;
}
.category-section-one .inner-container .job-wrapper-data .job-title{
    flex: 3;
    text-align: left;
}
.category-section-one .inner-container .job-wrapper-data .job-title h2 a{
    color: #171724;
}
.category-section-one .inner-container .job-wrapper-data .job-title h2 a:hover{
    text-decoration: none;
}
.category-section-one .inner-container .job-wrapper-data .job-category-col-left{
    flex: 1;
    text-align: left;
}
.category-section-one .inner-container .job-wrapper-data .job-category-col-right{
    flex: 1;
    text-align: left;
}
.category-section-one .inner-container .job-wrapper .job-title{
    flex: 3;
    text-align: left;
    font-weight: bold;
}
.category-section-one .inner-container .job-wrapper .job-category-col-left{
    flex: 1;
    text-align: left;
    font-weight: bold;
}
.category-section-one .inner-container .job-wrapper .job-category-col-right{
    flex: 1;
    text-align: left;
    font-weight: bold;
}
.category-section-one .inner-container .btn-container{
    margin-top: 80px;
    text-align: center;
}
.category-section-one .inner-container .btn-container button{
    text-transform: uppercase;
}
.category-section-one .inner-container .cat-location-select{
    margin-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
}
.category-section-one .inner-container .cat-location-select .select-container-left{
    padding-left: 0px;
}
.category-section-one .inner-container .cat-location-select .select-container-right{
    padding-right: 0px;
} */

/* Job page styles */
.job-section-one{
    min-height: 500px;
    padding-bottom: 50px;
}
.job-section-one h1{
    font-size: 66px;
    color: #171724;
}
.job-section-one .inner-container .link-container{
    margin-top: 50px;
    margin-bottom: 50px;
}
.job-section-one .inner-container .link-container a{
    color: #31c77f;
    font-weight: 800;
    font-size: 20px;
}
.job-section-one .inner-container .link-container a:hover{
    text-decoration: none;
    color: #171724;
}
.job-section-one .inner-container .link-container span{
    font-size: 20px;
}
.job-section-one .inner-container .text-content{
    padding-left: 0px;
    padding-right: 0px;
}
.job-section-one .inner-container .text-content .job-desc{
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}
.job-section-one .inner-container .text-content .job-desc-left{
    flex: 2;
}
.job-section-one .inner-container .text-content h2{
    margin-top: 40px;
    margin-bottom: 40px;
}
.job-section-one .inner-container .text-content .job-desc-right{
    display: flex;
    flex-wrap: wrap;
    padding-top: 0px;
    padding-left: 5%;
    align-content: center;
    flex: 1;
}
.job-section-one .inner-container .text-content .job-desc-right img{
    display: block;
    width: 100%;
}
.job-section-one .inner-container .text-content .list-item-box ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.job-section-one .inner-container .text-content .list-item-box ul li{
    margin-bottom: 25px;
}
.job-section-one .inner-container .text-content .list-item-box ul li:last-child{
    margin-bottom: 0px;
}
.job-section-one .inner-container .text-content .list-item-box ul li::before{
    content: "";
    padding-left: 16px;
    height: 10px;
    background: #171724;
    border-radius: 50%;
    margin-right: 12px;
}
.job-section-one .inner-container .text-content .job-desc-btn-container{
    padding-top: 40px;
    text-align: center;
}
.job-section-two{
    padding-top: 50px;
    padding-bottom: 50px;
}
.job-section-two .inner-container{
    float: none;
    margin: 0 auto;
}
.job-section-two .inner-container h1{
    text-align: center;
    margin-bottom: 30px;
}
.job-section-two .inner-container .job-content{
    padding-left: 0px;
    padding-right: 0px;
}
.job-section-two .inner-container .job-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.job-section-two .inner-container .job-wrapper-data{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #b2b2b2;
}
.job-section-two .inner-container .job-wrapper-data .job-title{
    flex: 3;
    text-align: left;
}
.job-section-two .inner-container .job-wrapper-data .job-category-col-left{
    flex: 1;
    text-align: left;
}
.job-section-two .inner-container .job-wrapper-data .job-category-col-right{
    flex: 1;
    text-align: left;
}
.job-section-two .inner-container .job-wrapper .job-title{
    flex: 3;
    text-align: left;
    font-weight: bold;
}
.job-section-two .inner-container .job-wrapper .job-category-col-left{
    flex: 1;
    text-align: left;
    font-weight: bold;
}
.job-section-two .inner-container .job-wrapper .job-category-col-right{
    flex: 1;
    text-align: left;
    font-weight: bold;
}
.job-section-two .inner-container .btn-container{
    margin-top: 80px;
    text-align: center;
}
.job-section-two .inner-container .btn-container button{
    text-transform: uppercase;
}
.job-section-three{
    padding-top: 50px;
    padding-bottom: 50px;
}
.job-section-three .inner-container{
    float: none;
    margin: 0 auto;
}
.job-section-three .inner-container .readmore-wrapper{
    padding-left: 0px;
    padding-right: 0px;
}
.job-section-three .inner-container .readmore-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: space-around;
}
.job-section-three .inner-container .readmore-wrapper .readmore-box{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 27%;
    justify-content: center;
    margin-bottom: 25px;
}
.job-section-three .inner-container .readmore-wrapper .readmore-box img{
    display: block;
    width: 100%;
    margin: 0 auto;
}
.job-section-three .inner-container .readmore-wrapper .readmore-box h3{
    margin-top: 20px;
    margin-bottom: 20px;
    flex-basis: 100%;
    text-align: center;
}
.job-section-three .inner-container .readmore-wrapper .readmore-box .text-content{
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
}
.job-section-three .inner-container .readmore-wrapper .readmore-box .btn-container{
    flex-basis: 100%;
    text-align: center;
}
.job-section-three .inner-container .readmore-wrapper .readmore-box .btn-container a{
    color: #31c77f;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
}
.job-section-three .inner-container .readmore-wrapper .readmore-box .btn-container a:hover{
    text-decoration: none;
    color: #171724;
}

/* Submit CV page styles */
.submitcv-section-one{
    min-height: 500px;
    padding-bottom: 50px;
}
.submitcv-section-one h1{
    font-size: 66px;
    color: #171724;
    margin-top: 60px;
}
.submitcv-section-one .inner-container .link-container{
    margin-top: 50px;
    margin-bottom: 50px;
}
.submitcv-section-one .inner-container .link-container a{
    color: #31c77f;
    font-weight: 800;
    font-size: 20px;
}
.submitcv-section-one .inner-container .link-container a:hover{
    text-decoration: none;
    color: #171724;
}
.submitcv-section-one .inner-container .link-container span{
    font-size: 20px;
}
.submitcv-section-one .inner-container .text-content{
    padding-left: 0px;
    padding-right: 0px;
}
.submitcv-section-one .inner-container .text-content h2{
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 40px;
}
.submitcv-section-one .inner-container .text-content .form-content .label-sec{
    padding-left: 0px;
    padding-right: 0px;
    font-weight: 700;
}
.submitcv-section-one .inner-container .text-content .form-content .label-sec span{
    color: red;
}
.submitcv-section-one .inner-container .text-content .form-content .input-sec{
    padding-left: 0px;
    padding-right: 0px;
}
.submitcv-section-one .inner-container .text-content .form-content .form-group{
    margin-bottom: 40px;
}
.submitcv-section-one .inner-container .text-content .form-content .submit-btn-container{
    text-align: center;
}
.submitcv-section-one .inner-container .text-content .form-content .file-upload-input .file-types{
    padding-top: 12px;
    color: #888a89;
}

/* All jobs page styles */
.alljobs-top-banner-area{
    min-height: 1000px;
}
.alljobs-top-banner-area .top-banner-inner{
   text-align: center;
   color: #ffffff;
}
.alljobs-top-banner-area .top-banner-inner h1{
    font-family: 'product_sansbold';
    text-align: center;
    font-size: 60px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 91px;
}
.alljobs-top-banner-area .top-banner-inner .text-content{
    text-align: center;
    margin-top: 25px;
    font-size: 19px;
}
.alljobs-top-banner-area .top-banner-inner .job-search-container{
    padding-left: 0px;
    padding-right: 0px;
}
.alljobs-top-banner-area .top-banner-inner .job-search-container{
    padding-left: 0px;
    padding-right: 0px;
}
.alljobs-top-banner-area .top-banner-inner .job-search-container .form-group{
    position: relative;
}
/* .alljobs-top-banner-area .top-banner-inner .job-search-container .form-group input[type="text"]{
    padding-right: 55px;
} */
.alljobs-top-banner-area .top-banner-inner .job-search-container .form-group a{
   position: absolute;
   font-size: 26px;
   top: 50%;
   transform: translateY(-50%);
   right: 2%;
   color: #b2b2b2;
}
.alljobs-top-banner-area .top-banner-inner .select-container{
    padding-left: 0px;
    padding-right: 0px;
}
.alljobs-top-banner-area .top-banner-inner .select-container select{
    padding-left: 4%;
}
.alljobs-top-banner-area .top-banner-inner .select-container .form-group{
    width: 95%;
}
.alljobs-top-banner-area .top-banner-inner .button-container{
    padding-left: 0px;
    padding-right: 0px;
}
.alljobs-top-banner-area .top-banner-inner .button-container .form-group button{
    background: #31c77f;
    color: #ffffff;
    border: none;
    width: 100%;
    min-height: 60px;
}
.alljobs-section-one{
    padding-top: 50px;
    padding-bottom: 50px;
}
.alljobs-section-one .inner-container{
    float: none;
    margin: 0 auto;
}
.alljobs-section-one .inner-container h1{
    text-align: center;
    margin-bottom: 30px;
}
.alljobs-section-one .inner-container .job-content{
    padding-left: 0px;
    padding-right: 0px;
}
.alljobs-section-one .inner-container .job-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.alljobs-section-one .inner-container .job-wrapper-data{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #b2b2b2;
}
.alljobs-section-one .inner-container .job-wrapper-data .job-title{
    flex: 3;
    text-align: left;
}
.alljobs-section-one .inner-container .job-wrapper-data .job-category-col-left{
    flex: 1;
    text-align: left;
}
.alljobs-section-one .inner-container .job-wrapper-data .job-category-col-right{
    flex: 1;
    text-align: left;
}
.alljobs-section-one .inner-container .job-wrapper .job-title{
    flex: 3;
    text-align: left;
    font-weight: bold;
}
.alljobs-section-one .inner-container .job-wrapper .job-category-col-left{
    flex: 1;
    text-align: left;
    font-weight: bold;
}
.alljobs-section-one .inner-container .job-wrapper .job-category-col-right{
    flex: 1;
    text-align: left;
    font-weight: bold;
}
.alljobs-section-one .inner-container .btn-container{
    margin-top: 80px;
    text-align: center;
}
.alljobs-section-one .inner-container .btn-container button{
    text-transform: uppercase;
}
.alljobs-section-two{
    padding-top: 50px;
    padding-bottom: 50px;
}
.alljobs-section-two .inner-container{
    float: none;
    margin: 0 auto;
}
.alljobs-section-two .inner-container .readmore-wrapper{
    padding-left: 0px;
    padding-right: 0px;
}
.alljobs-section-two .inner-container .readmore-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: space-around;
}
.alljobs-section-two .inner-container .readmore-wrapper .readmore-box{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 27%;
    justify-content: center;
    margin-bottom: 25px;
}
.alljobs-section-two .inner-container .readmore-wrapper .readmore-box img{
    display: block;
    width: 100%;
    margin: 0 auto;
}
.alljobs-section-two .inner-container .readmore-wrapper .readmore-box h3{
    margin-top: 20px;
    margin-bottom: 20px;
    flex-basis: 100%;
    text-align: center;
}
.alljobs-section-two .inner-container .readmore-wrapper .readmore-box .text-content{
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
}
.alljobs-section-two .inner-container .readmore-wrapper .readmore-box .btn-container{
    flex-basis: 100%;
    text-align: center;
}
.alljobs-section-two .inner-container .readmore-wrapper .readmore-box .btn-container a{
    color: #31c77f;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
}
.alljobs-section-two .inner-container .readmore-wrapper .readmore-box .btn-container a:hover{
    text-decoration: none;
    color: #171724;
}

/*All Categories page styles*/
.all-categories-page {
    padding-top: 138px;
}
.all-categories-page h1 {
    font-size: 100px;
    color: #000;
    margin-bottom: 100px;
}
/*End of all categories page*/


/* Privacy policy page styles */
.privacy-policy-section-one h1{
    margin-bottom: 40px;
}
.privacy-policy-section-one .text-content .condition-list-container ul li{
    margin-bottom: 20px;
}

/* DX consulting page styles */
.dx-consult-top-banner-area{
    min-height: 450px;
}
.dx-consult-section-one{
    padding-bottom: 40px;
    display: flex;
}
.dx-consult-section-one h1{
    text-align: center;
    flex-basis: 100%;
}
.dx-consult-section-one h1 span.dx-heading-sub{
    display: block;
}
.dx-consult-section-two{
    padding-top: 40px;
    padding-bottom: 40px;
}
.dx-consult-section-two .service-feature-wrapper .service-feature-box{
   margin-bottom: 40px;
   padding-left: 3.5%;
   padding-right: 3.5%;
}
.dx-consult-section-two .service-feature-wrapper .service-feature-box .heading-wrapper{
    display: flex;
    flex-basis: 100%;
    flex-wrap: nowrap;
}
.dx-consult-section-two .service-feature-wrapper .service-feature-box .heading-wrapper .feature-icon{
    display: flex;
    align-items: center;
}
.dx-consult-section-two .service-feature-wrapper .service-feature-box .heading-wrapper .feature-icon img{
    width: 50px;
    height: 50px;
}
.dx-consult-section-two .service-feature-wrapper .service-feature-box .heading-wrapper .feature-heading{
    display: flex;
    padding-left: 4.25%;
    align-content: center;
    align-items: center;
}
.dx-consult-section-two .service-feature-wrapper .service-feature-box .heading-wrapper .feature-heading h4{
    display: flex;
    font-size: 18px;
    margin: 0px 0px 0px 0px;
    color: #31c77f;
    align-content: center;
}
.dx-consult-section-two .service-feature-wrapper .service-feature-box .feature-info-text{
    flex-basis: 100%;
    padding-top: 30px;
}
/* defauls page body min height */
#cms-page-content{
min-height:100vh;
}
/* End of defauls page body min height */

/* Media queries */
@media screen and (max-width: 1200px) {
    .career-section-three .inner-container .job-wrapper-data{
        font-size: 15px;
    }
    .category-section-one .inner-container .job-wrapper-data{
        font-size: 15px;
    }
    .job-section-two .inner-container .job-wrapper-data{
        font-size: 15px;
    }
    .alljobs-section-one .inner-container .job-wrapper-data{
        font-size: 15px;
    }
}
@media screen and (max-width: 992px) {
    .language-select-list li {
        text-align: center;
    }
    .language-select-list li a {
        padding-left: 0px;
    }
    .footer-wrapper .footer-top .email-subscribe{
        margin-top: 30px;
    }
    .section-two-wrapper .section-two-right{
        margin-top: 40px;
    }
    .section-two-wrapper .section-two-right h1{
        text-align: center;
    }
    .section-two-wrapper .section-two-right .cat-btn-container{
        text-align: center;
    }
    .section-four-wrapper .section-four-right .panel-group{
        margin-top: 30px;
        text-align: center;
    }
    .service-section-first .inner-container .right-col h1{
        margin-top: 30px;
    }
    .service-section-two .inner-container .left-col{
        order: 1;
    }
    .service-section-two .inner-container .right-col{
        order: 2;
    }
    .service-section-two .inner-container .right-col h1{
        margin-top: 30px;
    }
    .service-section-two{
        padding-bottom: 0px;
    }
    .service-section-third .inner-container .right-col h1{
        margin-top: 30px;
    } 
    .career-top-banner-area .top-banner-inner .select-container .form-group{
        width: 100%;
        margin-bottom: 20px;
    }
    .career-top-banner-area .top-banner-inner .button-container .form-group button{
        display: block;
        width: 200px;
        margin: 0 auto;
    }
    .career-section-three .inner-container .job-wrapper{
        display: none;
    }
    .career-section-three .inner-container .job-wrapper-data{
        flex-basis: 100%;
    }
    .career-section-three .inner-container .job-wrapper-data .job-title{
        flex-basis: 100%;
        font-size: 16px;
        margin-bottom: 20px;
        text-align: center;
    }
    .career-section-three .inner-container .job-wrapper-data .job-category-col-left{
        text-align: center;
        flex-basis: 50%;
        font-size: 16px;
    }
    .career-section-three .inner-container .job-wrapper-data .job-category-col-right{
        text-align: center;
        flex-basis: 50%;
        font-size: 16px;
    }
    .career-section-first .inner-container .vacancy-wrapper .vacancy-box .vacancy-info h3{
        font-size: 19px;
    }
    .service-top-banner-area{
        min-height: 750px;
    }
    .service-top-banner-area .service-top-left{
        width: 40%;
        padding-right: 5%;
    }
    .contact-section-one .inner-container .left-col{
        padding-left: 15px;
        padding-right: 15px;
    }
    .contact-section-one .inner-container .right-col{
        padding-left: 15px;
        padding-right: 15px;
    }
    .about-wrapper .inner-container .section-top{
        /* min-height: 2550px; */
        /* background: url("../external-images/bg_img_01@2x.png") no-repeat center top; */
    }
    .about-wrapper .inner-container .section-middle{
        /* min-height: 2550px; */
        /* background: url("../external-images/bg_img_02@2x.png") no-repeat center top; */
    }
    .about-wrapper .inner-container .section-middle-two{
        /* min-height: 2550px; */
        /* background: url("../external-images/bg_img_03@2x.png") no-repeat center top; */
    }
    .about-wrapper .inner-container .section-bottom{
        min-height: 1850px;
        /* background: url("../external-images/bg_img_04@2x.png") no-repeat center top; */
    }
    .category-section-one .inner-container .job-wrapper{
        display: none;
    }
    .category-section-one .inner-container .job-wrapper-data{
        flex-basis: 100%;
    }
    .category-section-one .inner-container .job-wrapper-data .job-title{
        flex-basis: 100%;
        font-size: 16px;
        margin-bottom: 20px;
        text-align: center;
    }
    .category-section-one .inner-container .job-wrapper-data .job-category-col-left{
        text-align: center;
        flex-basis: 50%;
        font-size: 16px;
    }
    .category-section-one .inner-container .job-wrapper-data .job-category-col-right{
        text-align: center;
        flex-basis: 50%;
        font-size: 16px;
    }
    .job-section-two .inner-container .job-wrapper{
        display: none;
    }
    .job-section-two .inner-container .job-wrapper-data{
        flex-basis: 100%;
    }
    .job-section-two .inner-container .job-wrapper-data .job-title{
        flex-basis: 100%;
        font-size: 16px;
        margin-bottom: 20px;
        text-align: center;
    }
    .job-section-two .inner-container .job-wrapper-data .job-category-col-left{
        text-align: center;
        flex-basis: 50%;
        font-size: 16px;
    }
    .job-section-two .inner-container .job-wrapper-data .job-category-col-right{
        text-align: center;
        flex-basis: 50%;
        font-size: 16px;
    }
    .section-one-wrapper .section-one-left{
        margin-bottom: 40px;
    }
    .header-wrapper .main-menu-container{
        position: absolute;
        top: 75px;
        order: 1;
        background: #ffffff;
        width: 100%;
        padding-left: 1.5%;
    }
    .header-wrapper .logo-block{
        order: 2;
    }
    /* .header-wrapper .navbar-toggler {
        order: 1;
        outline: none;
    } */
    .header-wrapper .language-select{
        order: 3;
        flex: 0.2;
        z-index: 100;
    }
    .header-wrapper .logo-block img{
        width: 50%;
    }
    .lang-text{
        display: none;
    }
    .alljobs-top-banner-area .top-banner-inner .select-container .form-group{
        width: 100%;
        margin-bottom: 20px;
    }
    .alljobs-top-banner-area .top-banner-inner .button-container .form-group button{
        display: block;
        width: 200px;
        margin: 0 auto;
    }
    .alljobs-section-one .inner-container .job-wrapper{
        display: none;
    }
    .alljobs-section-one .inner-container .job-wrapper-data{
        flex-basis: 100%;
    }
    .alljobs-section-one .inner-container .job-wrapper-data .job-title{
        flex-basis: 100%;
        font-size: 16px;
        margin-bottom: 20px;
        text-align: center;
    }
    .alljobs-section-one .inner-container .job-wrapper-data .job-category-col-left{
        text-align: center;
        flex-basis: 50%;
        font-size: 16px;
    }
    .alljobs-section-one .inner-container .job-wrapper-data .job-category-col-right{
        text-align: center;
        flex-basis: 50%;
        font-size: 16px;
    }
    .quick-tab-section .quick-tab-inner .tab-box a{
        font-size: 14px;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-left: 0px;
    }
    .category-top-banner-area .top-banner-inner .select-container .form-group{
        width: 100%;
        margin-bottom: 20px;
    }
    .category-top-banner-area .top-banner-inner .button-container .form-group button{
        display: block;
        width: 200px;
        margin: 0 auto;
    }
    .navbar{
        background: #ffffff !important;
    }
    .service-section-first .inner-container .right-col,.service-section-three .inner-container .right-col{
        margin-bottom: 30px;
    }
    .service-section-four .inner-container .right-col{
        padding-bottom: 30px;
    }
    .dx-consult-section-one{
        padding-top: 10rem;
    }
    .dx-consult-section-two .service-feature-wrapper .service-feature-box .heading-wrapper{
        min-height: 80px;
    }
}
@media screen and (max-width: 768px) {
    #dropDownBtnLang {
        padding: 4px 7px;
    }
    .section-one-wrapper .section-one-right .img-box {
        flex-basis: unset;
    }
    .section-three-wrapper .section-three-bottom .cat-box{
        flex-basis: 48%;
    }
    .service-section-fourth .inner-container .content-box{
        margin-bottom: 40px;
    }
    .contact-section-three .inner-container .content-box{
        margin-bottom: 40px;
    }
    .service-top-banner-area .service-top-right{
       background-position: 50px top !important;
    }
    .service-section-first .inner-container .left-col{
        background-image: none;
        min-height: auto;
    }
    .service-section-first .inner-container .left-col img{
        display: block;
    }
    .service-section-first .inner-container .right-col h1{
        margin-bottom: 30px;
    }
    .service-section-two .inner-container .left-col{
        order: 2;
        padding-bottom: 50px;
    }
    .service-section-two .inner-container .left-col h1{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .service-section-two .inner-container .right-col{
        order: 1;
        background-image: none;
        min-height: auto;
    }
    .service-section-two .inner-container .right-col img{
        display: block;
    }
    .about-wrapper .inner-container .text-content .text-row-one h1,.about-wrapper .inner-container .text-content .text-row-two h1,
    .about-wrapper .inner-container .text-content .text-row-three h1,.about-wrapper .inner-container .text-content .text-row-four h1,
    .about-wrapper .inner-container .text-content .text-row-five h1,.about-wrapper .inner-container .text-content .text-row-six h1,
    .about-wrapper .inner-container .text-content .text-row-seven h1,.all-categories-page h1
    {
        font-size: 48px;
    }
    .contact-top-banner-area .top-banner-inner h1{
        text-align: center;
        margin-top: 3rem;
    }
    .footer-wrapper .footer-top .info-block img{
        width: 42%;
    }
    .header-wrapper .logo-block{
        text-align: center
    }
    .header-wrapper .logo-block img{
        width: 65%;
        /* margin-top: 15px; */
    }
    .category-section-one .inner-container .cat-location-select .select-container-left{
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 40px;
    }
    .category-section-one .inner-container .cat-location-select .select-container-right{
        padding-left: 0px;
        padding-right: 0px;
    }
    .job-section-two .inner-container .cat-location-select .select-container-left{
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 40px;
    }
    .job-section-two .inner-container .cat-location-select .select-container-right{
        padding-left: 0px;
        padding-right: 0px;
    }
    .alljobs-section-one .inner-container .cat-location-select .select-container-left{
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 40px;
    }
    .alljobs-section-one .inner-container .cat-location-select .select-container-right{
        padding-left: 0px;
        padding-right: 0px;
    }
    .quick-tab-section .quick-tab-inner .tab-box{
        /* flex-basis: 50%; */
        border-right: none;
    }
    .quick-tab-section .quick-tab-inner .tab-box a{
        font-size: 15px;
    }
    .quick-tab-section .quick-tab-inner{
        flex-wrap: nowrap;
    }
    .quick-tab-section .quick-tab-inner .tab-box{
        flex: 1;
    }
    .quick-tab-section .quick-tab-inner .tab-box a{
        justify-content: center;
    }
    .quick-tab-section .quick-tab-inner .tab-box .tab-text{
        display: none;
    }
}
@media screen and (max-width: 675px) {
    .language-select.mobile {
        top: -9px;
    }
    .language-select.mobile .language-select-list img {
        width: 26px;
    }
    .career-section-first .inner-container .vacancy-wrapper .vacancy-box{
        flex-basis: 48%;
    }
    .job-section-one .inner-container .text-content .job-desc-left{
        flex-basis: 100%;
    }
    .job-section-one .inner-container .text-content .job-desc-right{
        flex-basis: 100%;
        padding-top: 40px;
        padding-left: 0px;
    }
    .job-section-one .inner-container .text-content .job-desc h2{
        margin-top: 0px;
    }
    .quick-tab-section{
        box-shadow: none;
    }
}
@media screen and (max-width: 575px) {
    .footer-wrapper .footer-top .email-subscribe .input-block{
        width: 100%;
        padding-right: 0px;
    }
    .footer-wrapper .footer-top .email-subscribe .btn-block{
        width: 100%;
        text-align: left;
    }
    .footer-wrapper .footer-links .footer-link-box{
        margin-bottom: 25px;
    }
    .footer-wrapper .copyright-block{
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        min-height: 75px;
        align-items: center;
    }
    .footer-wrapper .footer-bottom .social-network-block{
       justify-content: left;
    }
    .footer-wrapper .footer-bottom .social-network-block a{
        margin-left: 0px;
        margin-right: 20px;
        font-size: 20px;
    }
    .career-top-banner-area .top-banner-inner .job-search-container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .career-top-banner-area .top-banner-inner .job-search-container .form-group{
        width: 95%;
        margin: 0 auto;
    }
    .career-top-banner-area .top-banner-inner .select-container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .career-top-banner-area .top-banner-inner .select-container .form-group{
        width: 95%;
        margin: 0 auto 20px auto;
    }
    .career-top-banner-area .top-banner-inner .button-container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .career-top-banner-area .top-banner-inner .button-container .form-group{
        width: 95%;
        margin: 0 auto 20px auto;
    }
    .contact-section-three .inner-container .content-box .info-left{
        flex-basis: 100%;
       text-align: center;
    }
    .contact-section-three .inner-container .content-box .info-right{
        flex-basis: 100%;
        padding-left: 0px;
        text-align: center;
    }
    .service-top-banner-area .service-top-left{
        position: relative;
        width: 100%;
        padding-top: 0px;
        text-align: center;
    }
    .service-top-banner-area .service-top-right{
       display: none !important;
    }
    .service-top-banner-area .service-top-left .service-mobile-bg{
        padding-top: 30px;
        display: block;
    }
    .service-top-banner-area .service-top-left h1{
        margin-bottom: 30px;
    }
    .service-top-banner-area{
        min-height: 650px;
    }
    .about-wrapper .inner-container .text-content .text-row-one h1,.about-wrapper .inner-container .text-content .text-row-two h1,
    .about-wrapper .inner-container .text-content .text-row-three h1,.about-wrapper .inner-container .text-content .text-row-four h1,
    .about-wrapper .inner-container .text-content .text-row-five h1,.about-wrapper .inner-container .text-content .text-row-six h1,
    .about-wrapper .inner-container .text-content .text-row-seven h1
    {
        font-size: 36px;
    }
    .about-wrapper .inner-container .text-content .text-row-one h1{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .about-wrapper .inner-container .text-content .text-row-one .col-left,.about-wrapper .inner-container .text-content .text-row-one .col-right{
        line-height: 28px;
    }
    .about-wrapper .inner-container .text-content .text-row-one .col-left{
        flex-basis: 100%;
        margin-bottom: 75px;
    }
    .about-wrapper .inner-container .text-content .text-row-one .col-right{
        flex-basis: 100%;
    }
    .about-wrapper .inner-container .text-content .text-row-one{
        margin-bottom: 275px;
    }
    .about-wrapper .inner-container .text-content .text-row-two .text-box{
        flex-basis: 100%;
        padding-left: 4%;
        padding-right: 4%;
        line-height: 28px;
    }
    .about-wrapper .inner-container .text-content .text-row-three .text-box{
        flex-basis: 100%;
        padding-left: 4%;
        padding-right: 4%;
        line-height: 28px;
    }
    .about-wrapper .inner-container .text-content .text-row-four .text-box{
        flex-basis: 100%;
        padding-left: 4%;
        padding-right: 4%;
        line-height: 28px;
    }
    /* .about-wrapper .inner-container .section-bottom{
        min-height: 2275px;
        background: url("../external-images/bg_img_04.png") no-repeat center top;
    } */
    .contact-top-banner-area .top-banner-inner h1,.top-banner-area .top-banner-inner h1,.career-top-banner-area .top-banner-inner h1,
    .category-top-banner-area .top-banner-inner h1,.job-section-one h1,.submitcv-section-one h1,
    .alljobs-top-banner-area .top-banner-inner h1,.category-top-banner-area .top-banner-inner h1
    {
        font-size: 48px;
    }
    .footer-wrapper .footer-top .info-block img{
        width: 50%;
    }
    .alljobs-top-banner-area .top-banner-inner .job-search-container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .alljobs-top-banner-area .top-banner-inner .job-search-container .form-group{
        width: 95%;
        margin: 0 auto;
    }
    .alljobs-top-banner-area .top-banner-inner .select-container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .alljobs-top-banner-area .top-banner-inner .select-container .form-group{
        width: 95%;
        margin: 0 auto 20px auto;
    }
    .alljobs-top-banner-area .top-banner-inner .button-container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .alljobs-top-banner-area .top-banner-inner .button-container .form-group{
        width: 95%;
        margin: 0 auto 20px auto;
    }
    .category-top-banner-area .top-banner-inner .job-search-container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .category-top-banner-area .top-banner-inner .job-search-container .form-group{
        width: 95%;
        margin: 0 auto;
    }
    .category-top-banner-area .top-banner-inner .select-container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .category-top-banner-area .top-banner-inner .select-container .form-group{
        width: 95%;
        margin: 0 auto 20px auto;
    }
    .category-top-banner-area .top-banner-inner .button-container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .category-top-banner-area .top-banner-inner .button-container .form-group{
        width: 95%;
        margin: 0 auto 20px auto;
    }
    .dx-consult-section-two .service-feature-wrapper .service-feature-box h4{
        font-size: 18px;
    }
}
@media screen and (max-width: 475px) {
    .section-three-wrapper .section-three-bottom .cat-box{
        flex-basis: 100%;
    }
    .career-section-three .inner-container .job-wrapper-data .job-category-col-left{
        flex-basis: 100%;
    }
    .career-section-three .inner-container .job-wrapper-data .job-category-col-right{
        flex-basis: 100%;
    }
    .career-section-four .inner-container .readmore-wrapper .readmore-box{
        flex-basis: 100%;
    }
    .career-section-four .inner-container .readmore-wrapper .readmore-box img{
        width: 90%;
        display: block;
        margin: 0 auto;
    }
    .career-section-first .inner-container .vacancy-wrapper .vacancy-box{
        flex-basis: 98%;
    }
    .career-section-first .inner-container .vacancy-wrapper .vacancy-box .vacancy-info h3{
        font-size: 23px;
    }
    .contact-section-one .inner-container .left-col .text-content .icon-info .info-left{
        flex-basis: 15%;
    }
    .contact-section-one .inner-container .left-col .text-content .icon-info .info-right{
        flex-basis: 85%;
    }
    .category-section-two .inner-container .readmore-wrapper .readmore-box{
        flex-basis: 100%;
    }
    .category-section-two .inner-container .readmore-wrapper .readmore-box img{
        width: 90%;
        display: block;
        margin: 0 auto;
    }
    .category-section-one .inner-container .job-wrapper-data .job-category-col-left{
        flex-basis: 100%;
    }
    .category-section-one .inner-container .job-wrapper-data .job-category-col-right{
        flex-basis: 100%;
    }
    .job-section-two .inner-container .job-wrapper-data .job-category-col-left{
        flex-basis: 100%;
    }
    .job-section-two .inner-container .job-wrapper-data .job-category-col-right{
        flex-basis: 100%;
    }
    .job-section-three .inner-container .readmore-wrapper .readmore-box{
        flex-basis: 100%;
    }
    .job-section-three .inner-container .readmore-wrapper .readmore-box img{
        width: 90%;
        display: block;
        margin: 0 auto;
    }
    .alljobs-section-one .inner-container .job-wrapper-data .job-category-col-left{
        flex-basis: 100%;
    }
    .alljobs-section-one .inner-container .job-wrapper-data .job-category-col-right{
        flex-basis: 100%;
    }
    .alljobs-section-two .inner-container .readmore-wrapper .readmore-box{
        flex-basis: 100%;
    }
    .alljobs-section-two .inner-container .readmore-wrapper .readmore-box img{
        width: 90%;
        display: block;
        margin: 0 auto;
    }
    .quick-tab-section .quick-tab-inner .tab-box{
        flex-basis: 100%;
    }
}
@media screen and (max-width: 425px) {
    .about-wrapper .inner-container .text-content .text-row-one h1,.about-wrapper .inner-container .text-content .text-row-two h1,
    .about-wrapper .inner-container .text-content .text-row-three h1,.about-wrapper .inner-container .text-content .text-row-four h1,
    .about-wrapper .inner-container .text-content .text-row-five h1,.about-wrapper .inner-container .text-content .text-row-six h1,
    .about-wrapper .inner-container .text-content .text-row-seven h1
    {
        font-size: 26px;
    }
    .submitcv-section-one .inner-container .text-content .form-content .file-upload-input button{
        font-size: 15px;
    }
}
@media screen and (max-width: 375px) {
    .career-section-first .inner-container .vacancy-wrapper .vacancy-box .vacancy-info h3{
        font-size: 18px;
    }
    .about-wrapper .inner-container .text-content .text-row-one h1,.about-wrapper .inner-container .text-content .text-row-two h1,
    .about-wrapper .inner-container .text-content .text-row-three h1,.about-wrapper .inner-container .text-content .text-row-four h1,
    .about-wrapper .inner-container .text-content .text-row-five h1,.about-wrapper .inner-container .text-content .text-row-six h1,
    .about-wrapper .inner-container .text-content .text-row-seven h1
    {
        font-size: 22px;
    }
    .contact-top-banner-area .top-banner-inner h1,.top-banner-area .top-banner-inner h1,
    .career-top-banner-area .top-banner-inner h1,.category-top-banner-area .top-banner-inner h1,
    .job-section-one h1,.submitcv-section-one h1,.alljobs-top-banner-area .top-banner-inner h1,
    .category-top-banner-area .top-banner-inner h1,.dx-consult-section-one h1{
        font-size: 36px;
    }
    .footer-wrapper .footer-top .info-block img{
        width: 75%;
    }
    .header-wrapper .logo-block img{
        width: 80%;
    }
    .about-wrapper .inner-container .text-content .text-box{
        font-size: 12px !important;
    }
}
@media screen and (min-width: 1275px) {
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media screen and (min-width: 1475px) {
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}
@media screen and (min-width: 1675px) {
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
/* Media queries end */

.footer-wrapper .footer-links h4 a:hover {
color:#fff;
}

.footer-wrapper .footer-links ul li a:hover {
color:#fff;
}



