/* External site fonts used */
@font-face {
    font-family: 'nunitoregular';
    src: url('../external-fonts/nunito-regular-webfont.woff2') format('woff2'),
         url('../external-fonts/nunito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nunitobold';
    src: url('../external-fonts/nunito-bold-webfont.woff2') format('woff2'),
         url('../external-fonts/nunito-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'yeseva_oneregular';
    src: url('../external-fonts/yesevaone-regular-webfont.woff2') format('woff2'),
         url('../external-fonts/yesevaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'product_sansregular';
    src: url('../external-fonts/product_sans_regular-webfont.woff2') format('woff2'),
         url('../external-fonts/product_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'product_sansbold';
    src: url('../external-fonts/product_sans_bold-webfont.woff2') format('woff2'),
         url('../external-fonts/product_sans_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'product_sansitalic';
    src: url('../external-fonts/product_sans_italic-webfont.woff2') format('woff2'),
         url('../external-fonts/product_sans_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'product_sansbold_italic';
    src: url('../external-fonts/product_sans_bold_italic-webfont.woff2') format('woff2'),
         url('../external-fonts/product_sans_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}