<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title"> 
                    <span>Main</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fe fe-document"></i> <span> Pages</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="index.html">All Pages</a></li>
                        <li><a href="javascript:void(0)" onclick="createPage();">Add New</a></li>
                    </ul>
                </li>
                <li> 
                    <a href="menus.html"><i class="fe fe-table"></i> <span>Menus</span></a>
                </li>
                <li> 
                    <a href="elements.html"><i class="fe fe-layout"></i> <span>Elements</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fe fe-document"></i> <span>Career management</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="plugins/career_management/index.html">Jobs</a></li>
                        <li><a href="plugins/career_management/category.html">Category</a></li>
                        <li><a href="plugins/career_management/location.html">Location</a></li>
                    </ul>
                </li>
                <!-- <li class="submenu">
                    <a href="#"><i class="fe fe-document"></i> <span> Elements</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="elements.html">All Elements</a></li>
                    </ul>
                </li> -->
            </ul>
        </div>
    </div>
</div>
<script src="assets/js/script.js"></script>