<div class="container-fluid footer-wrapper">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 footer-top">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 info-block">
                  <img src="assets/external-images/suprieve-logo-white.png" alt="">
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 email-subscribe">
                  <div class="row">
                      <div class="col-lg-8 col-md-8 col-sm-8 input-block">
                        <div class="form-group">
                            <input type="email" class="form-control" id="subscribe-email" placeholder="Enter your email address" required>
                            <div id="subemail-message" class="alert alert-danger" role="alert" style="margin-top: 15px;">Please enter a valid Email Address!</div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 btn-block">
                           <button id="emailsubcribe-btn" class="btn btn-default site-common-btn" onclick="saveEmailSubscribe()">Subscribe</button>
                      </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-lg-12 footer-links">
            <div id="div-footer-menu" class="row"></div>
          </div>
          <div class="col-lg-12 footer-bottom">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 copyright-block">
                  <span class="copyright-icon">&copy;</span> Suprieve Technology &nbsp;&nbsp;&nbsp; 個人情報保護方針
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 social-network-block">
                  <a target="_blank" href="https://twitter.com"><i class="fab fa-twitter"></i> </a>
                  <a target="_blank" href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                  <a target="_blank" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                </div>
              </div>  
          </div>
      </div>
  </div>
</div>
<a class="scrollup" href="javascript:void(0)"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a>
<script>
// Scroll to top js
$(document).ready(function(){$(window).scroll(function(){$(this).scrollTop()>100?$(".scrollup").fadeIn():$(".scrollup").fadeOut()})}),$(".scrollup").click(function(){return $("html, body").animate({scrollTop:0},600),!1});

$( document ).ready(function() {
loadFooterMenu(); 
});

function loadFooterMenu(){ 
$.ajax({ 
url: api_url+'portal/menu/details', 
type: 'GET',
success: function (response) {  
// console.log(response); 
$.each(response, function( index, value ){ 
if(value.display_footer==1){ 
var display_name = JSON.parse(value.display_name); 
var link = '#';
if(value.custom_link!=''){ 
link = value.custom_link; 
}
else{
link = value.page.page_name; 
}
var linkOpenType = "";
if(value.custome_link_type==0) {
  linkOpenType = "";
}else{
  linkOpenType = "_blank";
}

$('#div-footer-menu').append(`<div class="col-lg-2 col-md-6 col-sm-6 footer-link-box">
<h4 style="border-bottom:0px;"><a onclick="pageRedirect('${link}','${linkOpenType}');" style="cursor: pointer;">${display_name[language_id]}</a></h4>
<ul id="footer_sub_menu_${value._id}"></ul>
</div>`); 
loadFooterSubMenu(value._id);
}
}); 
},
});
} 

function loadFooterSubMenu(parent_id){ 
$.ajax({ 
url: api_url+'portal/menu/details?manu='+parent_id, 
type: 'GET',
success: function (response) {  
console.log(response); 
$.each(response, function( index, value ){ 
if(value.display_footer==1){ 
var display_name = JSON.parse(value.display_name); 
// var language_id = localStorage.getItem("cms-language_id"); 
var link = '#';
if(value.custom_link!=''){ 
link = value.custom_link; 
}
else{
link = value.page.page_name; 
}
var linkOpenType = "";
if(value.custome_link_type==0) {
  linkOpenType = "";
}else{
  linkOpenType = "_blank";
}
$('#footer_sub_menu_'+parent_id).append(`<li><a onclick="pageRedirect('${link}','${linkOpenType}');" style="cursor: pointer">${display_name[language_id]}</a></li>`);
} 
}); 
},
});
}


// Email subscription
// Set validation messages  
$(document).ready(function(){
  $.getJSON("settings.json", function(json) { 
      if(localStorage.cms-language_id!="") {
        var langIdx = localStorage.getItem("cms-language_id");
        langIdx = parseInt(langIdx-1);
        $("#subemail-message").html(json.error_messages[langIdx].messages.emailSubscribe);
        $("#emailsubcribe-btn").html(json.button_text[langIdx].btnText.emailSubscribe);
        $("#subscribe-email").attr('placeholder',json.input_placeholders[langIdx].placeholderText.emailSubscribe);
      }else{
        $("#subemail-message").html(json.error_messages[0].messages.emailSubscribe);
        $("#emailsubcribe-btn").html(json.button_text[0].btnText.emailSubscribe);
        $("#subscribe-email").attr('placeholder',json.input_placeholders[0].placeholderText.emailSubscribe);
      }
  }); 
});

$("#subemail-message").hide();
function saveEmailSubscribe() {
  var pattern = /^[^@]+@[^@]+\.[^@]+$/i;
  var subscribeEmail = $("#subscribe-email").val();
  if(pattern.test(subscribeEmail)==false) {
    $("#subemail-message").show();
    setTimeout(function() { $("#subemail-message").hide(); }, 5000);
  }else{
    $.ajax({
      type: "POST",
      url: api_url+"portal/contact/us/subscription", 
      data: {
        "email": $("#subscribe-email").val()
      },
      success: function(response) { 
        $.getJSON("settings.json", function(json) { 
            if('cms-language_id' in localStorage) {
              var langIdx = localStorage.getItem("cms-language_id");
              langIdx = parseInt(langIdx-1);
               toastr.success(json.error_messages[langIdx].messages.emailSubscribeSuccessMessage, json.error_messages[langIdx].messages.emailSubscribeSuccessTitle,{timeOut: 5000});
            }else{
              // toastr.success('Your subscription has been saved!', 'Success',{timeOut: 5000});
              toastr.success(json.error_messages[0].messages.emailSubscribeSuccessMessage, json.error_messages[0].messages.emailSubscribeSuccessTitle,{timeOut: 5000});
            }
        }); 
        $("#subscribe-email").val("");
      },
      error: function(xhr,status,error) {
        $.getJSON("settings.json", function(json) { 
            if('cms-language_id' in localStorage) {
              var langIdx = localStorage.getItem("cms-language_id");
              langIdx = parseInt(langIdx-1);
                toastr.success(error, json.error_messages[langIdx].messages.emailSubscribeErrorTitle,{timeOut: 5000});
            }else{
                // toastr.error(error, 'Error',{timeOut: 5000});
                toastr.success(error, json.error_messages[0].messages.emailSubscribeErrorTitle,{timeOut: 5000});
            }
        });
      }
    });
  }
}
</script>