<nav class="navbar navbar-standard navbar-expand-lg fixed-top navbar-theme header-wrapper" style="background-color: rgba(255, 255, 255, 0.5)">
    <div class="container">
      <div class="logo-block">
          <a href="javascript:void(0);" onclick="pageRedirect('index');"><img src="assets/external-images/suprieve-logo.png" alt=""></a>
      </div>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarStandard" aria-controls="navbarStandard" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fas fa-bars navbar-toggler-icon"></i>
      </button>
      <div class="collapse navbar-collapse main-menu-container wow slideInRight" id="navbarStandard">
        <ul class="navbar-nav" child="menu_header"></ul> 
      </div>
      <div class="language-select">
        <!-- <select name="" id="language_id"></select> -->
        <a id="lng_1" onclick="changeLanguage('1','English')" href="javascript:void(0);"><span class="lang-text nav-link" style="margin-left: 5px;">English</span></a>
        <a id="lng_2" onclick="changeLanguage('2','Japanese')" href="javascript:void(0);"><span class="lang-text nav-link" style="margin-left: 5px;">日本語</span></a>
        <!-- <div class="dropdown">
          <button id="dropDownBtnLang" class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown"><img src="assets/external-images/flag-en.png" style="border: 1px solid #b2b2b2;"><span style="margin-left: 5px;">English</span>
          <span class="caret"></span></button>
          <ul class="dropdown-menu language-select-list">
            <li><a onclick="changeLanguage('1','English')" href="javascript:void(0);"><img src="assets/external-images/flag-en.png" style="border: 1px solid #b2b2b2;"><span class="lang-text" style="margin-left: 5px;">English</span></a></li>
            <li><a onclick="changeLanguage('2','Japanese')" href="javascript:void(0);"><img src="assets/external-images/flag-jpn.png" style="border: 1px solid #b2b2b2;"><span class="lang-text" style="margin-left: 5px;">Japanese</span></a></li>
          </ul>
        </div> -->
      </div>
       <!-- <div class="language-select d-lg-none mobile"> -->
            <!-- <select name="" id="language_id"></select> -->
            <!-- <div class="dropdown">
              <button id="dropDownBtnLang" class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">English
              <span class="caret"></span></button>
              <ul class="dropdown-menu language-select-list">
                <li><a onclick="changeLanguage('1','English')" href="javascript:void(0);"><img src="assets/external-images/flag-en.png" style="border: 1px solid #b2b2b2;"><span style="margin-left: 5px;">English</span></a></li>
                <li><a onclick="changeLanguage('2','Japanese')" href="javascript:void(0);"><img src="assets/external-images/flag-jpn.png" style="border: 1px solid #b2b2b2;"><span style="margin-left: 5px;">Japanese</span></a></li>
              </ul>
            </div> -->
        <!-- </div> -->
    </div>
</nav>

<script src="assets/js/theme.js"></script>
<script>
loadLanguages(); 
function loadLanguages(){ 
// $('#language_id').empty(); 
// $.getJSON("settings.json", function(json) { 
// $.each(json.languages, function(i, language){ 
// $('#language_id').append('<option value="'+language.language_id+'">&nbsp;&nbsp;&nbsp;'+language.name+'&nbsp;&nbsp;&nbsp;</option>');
// }); 
// if(localStorage.getItem("cms-language_id")){$('#language_id').val(localStorage.getItem("cms-language_id"));}
// else{localStorage.setItem("cms-language_id", $('#language_id').val());}
// }); 

// 08-07-2020
  var dropDownBtn = document.querySelector("#dropDownBtnLang");
  if(localStorage.getItem("cms-language_name")){
      if(localStorage.getItem("cms-language_name")=="English") { 
        $('#lng_1').css('display','none'); 
        // dropDownBtn.innerHTML = `<img src="assets/external-images/flag-en.png" style="border: 1px solid #b2b2b2;"><span style="margin-left: 5px;" class="lang-text">${localStorage.getItem("cms-language_name")}</span>`;
      }else if(localStorage.getItem("cms-language_name")=="Japanese") {
        $('#lng_2').css('display','none'); 
        // dropDownBtn.innerHTML = `<img src="assets/external-images/flag-jpn.png" style="border: 1px solid #b2b2b2;"><span style="margin-left: 5px;" class="lang-text">${localStorage.getItem("cms-language_name")}</span>`;
      }
  }
  else{
    $('#lng_2').css('display','none'); 
    localStorage.setItem("cms-language_id",dropDownBtn.innerHTML);
  }
}

$('#language_id').change(function(){  
localStorage.setItem("cms-language_id", $('#language_id').val()); 
window.location.replace("index.html");
}); 

$( document ).ready(function() {
loadMenu(); 
});

function loadMenu(){ 
$.ajax({ 
url: api_url+'portal/menu/details', 
type: 'GET',
success: function (response) { 
// console.log(response); 
$.each(response, function( index, value ){ 
if(value.display_header==1){ 
var display_name = JSON.parse(value.display_name); 
var language_id = localStorage.getItem("cms-language_id"); 
var link = '#';
if(value.custom_link!=''){ 
link = value.custom_link; 
}
else{
link = value.page.page_name; 
}
$('[child="menu_header"]').append(`<li><a href="javascript:void(0);" onclick="pageRedirect('${link}');" class="nav-link">${display_name[language_id]}</a></li>`); 
// renderTemplate('menu_header','menu_header',value); 
}
}); 
},
});
} 

function changeLanguage(langId, langName) {
  var dropDownBtn = document.querySelector("#dropDownBtnLang");
  localStorage.setItem("cms-language_id",langId);
  localStorage.setItem("cms-language_name",langName);  
  // dropDownBtn.innerHTML = langName;
  // window.location.replace("index.html");
  location.reload();
}
</script>