<section class="about-wrapper">
  <div class="container nolr-padding">
      <div class="row">
        <div class="col-lg-12 inner-container">
            <div class="row">
               <div class="col-lg-12 col-md-12 nolr-padding text-content">
                <div style="min-height:700px; padding-top:100px;">
                  <!-- <div class="text-row-one wow zoomIn">
                      <h1 class="ml2">${data.top_title_01}</h1>
                      <div class="col-left wow fadeInLeft">${data.top_main_left_description}</div>
                      <div class="col-right wow fadeInRight">${data.top_main_right_description}</div>
                  </div> -->
                  <div class="text-row-two wow slideInUp">
                    <h1 class="ml2 mb-0 mt-5">${data.top_title_01}</h1>
                    <div class="text-box mb-2">${data.top_main_left_description}</div>
                  </div>
                  <div class="text-row-two wow slideInUp">
                    <div class="text-box">${data.top_main_right_description}</div>
                  </div>
                </div>
                <div style="min-height:900px;">
                  <div class="text-row-two wow slideInUp">
                    <h1 class="wow pulse">${data.sub_title_01}</h1>
                    <div class="text-box">${data.sub_title_01_description_01}</div>
                  </div>
                </div>
                <div>
                  <div class="text-row-three wow slideInDown">
                    <h1 class="wow pulse">${data.sub_title_02}</h1>
                    <div class="text-box" style="flex-basis: 90%;">${data.sub_title_02_description_01}</div>
                  </div>
                </div>
                <div class="text-row-four wow zoomIn">
                    <h1 class="wow pulse">${data.sub_title_03}</h1>
                      <div class="text-box">${data.sub_title_03_description_01}<br/>
                      <br/>${data.sub_title_03_description_02}<br/>
                      <br/>${data.sub_title_03_description_03}<br/>
                      <br/>${data.sub_title_03_description_04}<br/>
                      <br/>${data.sub_title_03_description_05}</div>
                </div>
                <div class="text-row-five wow slideInUp">
                  <h1 class="wow pulse">${data.sub_title_04}</h1>
                    <div class="text-box" style="">${data.sub_title_04_description_01}</div>
                </div>
                <div class="text-row-six wow slideInUp">
                  <h1 class="wow pulse">${data.sub_title_05}</h1>
                    <div class="text-box">${data.sub_title_05_description_01}</div>
                </div>
                <div class="text-row-seven wow slideInUp">
                  <h1 class="wow pulse">${data.sub_title_06}</h1>
                    <div class="text-box">${data.sub_title_06_description_01}</div>
                </div>
               </div>   
              <div class="col-lg-12 inner-content section-top"></div>
              <div class="col-lg-12 inner-content section-middle"></div>
              <div class="col-lg-12 inner-content section-middle-two"></div>
              <div class="col-lg-12 inner-content section-bottom"></div>
            </div>
        </div>
      </div>
  </div>
</section>
