<section class="py-0 overflow-hidden career-top-banner-area" id="banner">
  <div class="bg-holder overlay" style="background-image:url(assets/external-images/careers_banner.png);background-position: center bottom;">
  </div>
  <div class="container">
    <div class="row justify-content-center align-items-center pt-8 pt-lg-10 pb-lg-9 pb-xl-0">
      <div class="col-lg-10 col-md-10 top-banner-inner">
          <h1 class="top-banner-heading">${data.main_title}</h1>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 job-search-container" style="margin-bottom: 25px;">
                <div class="form-group">
                    <input id="search_value" type="text" class="form-control" placeholder="${data.search_placeholder}" style="min-height: 60px;">
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 select-container">
                <div class="form-group">
                  <select id="search_category_id" class="form-control" style="min-height: 60px;-webkit-appearance: none;background: #ffffff url('assets/external-images/dropdown_grey@2x.png') no-repeat 95% center;background-size: 14px 12px;">
                    <option value="">${data.select_category_title}</option>
                  </select>
                 </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 select-container">
                <div class="form-group">
                  <select id="search_location_id" class="form-control" style="min-height: 60px;-webkit-appearance: none;background: #ffffff url('assets/external-images/dropdown_grey@2x.png') no-repeat 95% center;background-size: 14px 12px;">
                    <option value="">${data.select_location_title}</option>
                  </select>
                </div>  
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 button-container">
                <div class="form-group">
                  <button onclick="searchJobs();" type="button" class="btn btn-success btn-lg">${data.search_button_text}</button>
                </div>    
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="category-section-one wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-12 col-sm-12 inner-container">
          <h1>${data.jobs_table_header}</h1>
          <div class="row">
            <div id="div-career-jobs" class="col-lg-12 job-content">
                <div class="job-wrapper">
                  <div class="job-title">
                      ${data.jobs_table_col_01}
                  </div>
                  <div class="job-category-col-left">
                      ${data.jobs_table_col_02}
                  </div>
                  <div class="job-category-col-right">
                      ${data.jobs_table_col_03}
                  </div>
                </div>  
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
<script>
var search_value = getUrlParameterByName('search_value');
var search_category_id = getUrlParameterByName('search_category_id');
var search_location_id = getUrlParameterByName('search_location_id');

$('#search_value').val(search_value);

getCategory(); 
getLocation(); 
searchJobsBySearchFields();

function getCategory(){ 
$.ajax({ 
url: api_url+"portal/plugins/careers/category/details?language_id="+language_id, 
type: 'GET', 
success: function(response){ 
$.each(response, function(objid, category){ 
var name = JSON.parse(category.name); 
$('#search_category_id').append('<option value="'+category._id+'">'+name[language_id]+'</option>');
}); 
$('#search_category_id').val(search_category_id);
}, 
error: function(xhr, status, error) { alert(error);	} 
}); 
} 

function getLocation(){ 
$.ajax({ 
url: api_url+"portal/plugins/careers/location/details", 
type: 'GET', 
success: function(response){ 
$.each(response, function(objid, location){  
var name = JSON.parse(location.name); 
$('#search_location_id').append('<option value="'+location._id+'">'+name[language_id]+'</option>');
}); 
$('#search_location_id').val(search_location_id);
}, 
error: function(xhr, status, error) { alert(error);	} 
}); 
} 

function searchJobs(){ 
var search_value = $('#search_value').val(); 
var search_category_id = $('#search_category_id').val(); 
var search_location_id = $('#search_location_id').val(); 
window.location.replace(localStorage.getItem("cms-language_code")+"/career_jobs?search_value="+search_value+"&search_category_id="+search_category_id+"&search_location_id="+search_location_id);
} 

function searchJobsBySearchFields(){ 
$.ajax({ 
url: api_url+'portal/plugins/careers/vacancy/details?language_id='+language_id+'&name='+search_value+'&category='+search_category_id+'&location='+search_location_id, 
type: 'GET', 
success: function(response){ 
console.log(response); 
$.each(response, function(i, career){  
var appendHtml = ''; 
appendHtml += '<div class="job-wrapper-data">'+
'<div class="job-title">'+
'<h2><a href="'+localStorage.getItem("cms-language_code")+'/job?unique_id='+career.unique_id+'" class="hvr-grow">'+career.title+'</a></h2>'+
'</div>'+
'<div class="job-category-col-left">'; 
$.each(career.categories, function(i, ategory){ 
var cnames = JSON.parse(ategory.name); 
appendHtml +='<a style="color:#31c77f;">'+cnames[language_id]+'</a><br/>';
});
appendHtml +='</div>'+
'<div class="job-category-col-right">';
$.each(career.locations, function(i, location){ 
var lnames = JSON.parse(location.name);   
appendHtml += '<a style="color:#31c77f;">'+lnames[language_id]+'</a>';
});
appendHtml +='</div>'+
'</div>';
$('#div-career-jobs').append(appendHtml); 
}); 
}, 
error: function(xhr, status, error) { alert(error);	} 
}); 
} 


</script>
