<section class="py-0 overflow-hidden career-top-banner-area" id="banner">
<div class="bg-holder overlay" style="background-image:url(assets/external-images/careers_banner@2x.png);background-position: center bottom;">
</div>
<div class="container">
    <div class="row justify-content-center align-items-center pt-8 pt-lg-10 pb-lg-9 pb-xl-0">
    <div class="col-lg-10 col-md-10 top-banner-inner">
        <h1 class="top-banner-heading">${data.main_title}</h1>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 job-search-container" style="margin-bottom: 25px;">
                <div class="form-group">
                    <input id="search_value" type="text" class="form-control" placeholder="${data.search_placeholder}" style="min-height: 60px;">
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 select-container">
                <div class="form-group">
                <select id="search_category_id" class="form-control" style="min-height: 60px;-webkit-appearance: none;background: #ffffff url('assets/external-images/dropdown_grey@2x.png') no-repeat 95% center;background-size: 14px 12px;">
                    <option value="">${data.select_category_title}</option>
                </select>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 select-container">
                <div class="form-group">
                <select id="search_location_id" class="form-control" id="" style="min-height: 60px;-webkit-appearance: none;background: #ffffff url('assets/external-images/dropdown_grey@2x.png') no-repeat 95% center;background-size: 14px 12px;">
                    <option value="">${data.select_location_title}</option>
                </select>
                </div>  
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 button-container">
                <div class="form-group">
                <button onclick="searchJobs();" type="button" class="btn btn-success btn-lg">${data.search_button_text}</button>
                </div>    
            </div>
        </div>
    </div>
    </div>
</div>
</section>
<section class="career-section-first">
<div class="container">
    <div class="row">
        <div class="col-lg-10 inner-container">
            <h1>${data.caregory_header_text}</h1>
            <div class="row">
                <div id="div-job-categories" class="col-lg-12 vacancy-wrapper"></div>
            </div>
        </div>
    </div>
</div>
</section>
<section class="py-0 overflow-hidden career-section-two">
<div class="bg-holder overlay" style="background-image:url(assets/external-images/footer_image@2x.png);background-position: center bottom;"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 inner-content wow fadeInUp">
            <h1>${data.bottom_text_row01}<br/> ${data.bottom_text_row02}<br/> ${data.bottom_text_row03}</h1>
            </div>
        </div>
    </div>
</section>
<script>
getCategory(); 
getLocation(); 
function getCategory(){
$.ajax({ 
url: api_url+"portal/plugins/careers/category/details?language_id="+language_id, 
type: 'GET', 
success: function(response){ 
console.log(response); 
$.each(response, function(objid, category){ 
var name = JSON.parse(category.name); 
$('#search_category_id').append('<option value="'+category._id+'">'+name[language_id]+'</option>');

var appendHtml = ''; 
appendHtml += '<div class="vacancy-box wow fadeInDown hvr-float">'+
'<div class="image-content">'+
'<img src="'+category.image+'" alt="">'+
'</div>'+
'<div class="vacancy-info">'+
'<h3>'+name[language_id]+'</h3>'+
'<div class="text-content">'+
'<a href="'+localStorage.getItem("cms-language_code")+'/career_jobs?search_value=&search_category_id='+category._id+'&search_location_id=" class="btn site-common-btn vacancy-apply-btn">${data.apply_button_text}</a>'+
'<div class="positions-count">'+category.vacancy.length+' ${data.category_positions_text}</div>'+
'</div>'+
'</div>'+
'</div>';
$('#div-job-categories').append(appendHtml); 
}); 
}, 
error: function(xhr, status, error) { alert(error);	} 
}); 
} 

function getLocation(){
$.ajax({ 
url: api_url+"portal/plugins/careers/location/details", 
type: 'GET', 
success: function(response){ 
console.log(response); 
$.each(response, function(objid, location){  
var name = JSON.parse(location.name); 
$('#search_location_id').append('<option value="'+location._id+'">'+name[language_id]+'</option>');
}); 
}, 
error: function(xhr, status, error) { alert(error);	} 
}); 
}

function searchJobs(){ 
var search_value = $('#search_value').val(); 
var search_category_id = $('#search_category_id').val(); 
var search_location_id = $('#search_location_id').val(); 
pageRedirect("career_jobs?search_value="+search_value+"&search_category_id="+search_category_id+"&search_location_id="+search_location_id);
} 

</script>
