<section class="py-0 overflow-hidden contact-top-banner-area" id="">
  <div class="bg-holder" style="background-image:url(${element_data.background_image});background-position: center 91px;">
  </div>
  <div class="container">
    <div class="row justify-content-center align-items-center pt-8 pt-lg-10 pb-lg-9 pb-xl-0">
      <div class="col-lg-10 col-md-10 top-banner-inner wow zoomIn">
          <h1 class="top-banner-heading">${data.main_heading}</h1>
        </div>
    </div>
  </div>
</section>
<section class="contact-section-one">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 inner-container">
              <div class="row">
                  <div class="col-lg-6 col-md-6 left-col wow fadeInLeft">
                    <h1>${data.left_title}</h1>
                    <div class="text-content">
                         <p>${data.left_description}</p> 
                        <div class="icon-info">
                            <div class="info-left">
                                <img src="${element_data.contact_icon_image_01}" alt="">
                            </div>
                            <div class="info-right">${data.mobile}</div>
                        </div>
                        <div class="icon-info">
                            <div class="info-left">
                                <img src="${element_data.contact_icon_image_02}" alt="">
                            </div>
                            <div class="info-right">
                                <div>${data.address_line_01}</div> 
                                <!-- <div>${data.address_line_02}</div>  -->
                                <!-- <div class="office-hours">${data.time}</div> -->
                            </div>
                        </div>
                        <div class="icon-info">
                            <div class="info-left">
                                <img src="${element_data.contact_icon_image_03}" alt="">
                            </div>
                            <div class="info-right">${data.email}</div>
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 right-col wow fadeInRight">
                    <h1>${data.right_title}</h1>
                    <div class="text-content">
                          <div class="form-group">
                              <label for="name">${data.contact_name_label} <span>*</span></label>
                              <input type="text" class="form-control" id="frm-contact-name" placeholder="${data.contact_name_ph}" maxlength="100">
                              <div id="name-required" class="alert alert-danger" role="alert" style="margin-top: 15px;">Name is required!</div>
                          </div>
                          <div class="form-group">
                            <label for="email">${data.contact_email_label} <span>*</span></label>
                            <input type="email" class="form-control" id="frm-contact-email" placeholder="${data.contact_email_ph}" maxlength="100">
                            <div id="email-required" class="alert alert-danger" role="alert" style="margin-top: 15px;">Please enter a valid Email Address!</div>
                          </div>
                          <div class="form-group">
                            <label for="name">${data.contact_phone_label} <span>*</span></label>
                            <input type="text" class="form-control" id="frm-contact-phone" placeholder="${data.contact_phone_ph}" maxlength="15">
                            <div id="phone-required" class="alert alert-danger" role="alert" style="margin-top: 15px;">Phone number is required!</div>
                          </div>
                          <div class="form-group">
                            <label for="name">${data.contact_orgname_label}</label>
                            <input type="text" class="form-control" id="frm-contact-orgname" placeholder="${data.contact_orgname_ph}" maxlength="100">
                          </div>
                          <div class="form-group">
                            <label for="name">${data.contact_address_label}</label>
                            <input type="text" class="form-control" id="frm-contact-address" placeholder="${data.contact_address_ph}" maxlength="200">
                          </div>
                          <div class="form-group">
                            <label for="name">${data.contact_subject_label} <span>*</span></label>
                            <input type="text" class="form-control" id="frm-contact-subject" placeholder="${data.contact_subject_ph}" maxlength="100">
                            <div id="subject-required" class="alert alert-danger" role="alert" style="margin-top: 15px;">Subject is required!</div>
                          </div>
                          <div class="form-group">
                            <label for="pwd">${data.contact_message_label} <span>*</span></label>
                            <textarea class="form-control" rows="5" id="frm-contact-message" placeholder="${data.contact_message_ph}" maxlength="500"></textarea>
                            <div id="message-required" class="alert alert-danger" role="alert" style="margin-top: 15px;">Message is required!</div>
                          </div>
                          <div class="form-group">
                            <p><input type="checkbox" id="frm-contact-chbs_txt_agree_to_privacy_policy"> &nbsp;&nbsp;&nbsp;${data.chbs_txt_agree_to_privacy_policy}</p>
                          </div>
                          <button class="btn btn-default site-common-btn" onclick="saveContactData()">${data.contact_submit_btn}</button>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<script>
// Set validation messages  
$(document).ready(function(){
  $.getJSON("settings.json", function(json) { 
      if(localStorage.cms-language_id!="") {
        var langIdx = localStorage.getItem("cms-language_id");
        langIdx = parseInt(langIdx-1);
        $("#name-required").html(json.error_messages[langIdx].messages.contactName);
        $("#email-required").html(json.error_messages[langIdx].messages.contactEmail);
        $("#phone-required").html(json.error_messages[langIdx].messages.contactPhone);
        $("#subject-required").html(json.error_messages[langIdx].messages.contactSubject);
        $("#message-required").html(json.error_messages[langIdx].messages.contactMessage);
      }else{
        $("#name-required").html(json.error_messages[0].messages.contactName);
        $("#email-required").html(json.error_messages[0].messages.contactEmail);
        $("#phone-required").html(json.error_messages[0].messages.contactPhone);
        $("#subject-required").html(json.error_messages[0].messages.contactSubject);
        $("#message-required").html(json.error_messages[0].messages.contactMessage);
      }
  }); 
});

$("#name-required").hide();
$("#email-required").hide();
$("#message-required").hide();
$("#phone-required").hide();
$("#subject-required").hide();

function saveContactData() { 
  var contactName = $("#frm-contact-name").val();
  var contactEmail = $("#frm-contact-email").val();
  var contactPhoneNumber = $("#frm-contact-phone").val();
  var contactSubject = $("#frm-contact-subject").val();
  var contactMessage = $("#frm-contact-message").val();
  var empattern = /^[^@]+@[^@]+[\.][^@]+$/i;
  var contactphonepattern = /^[0-9]+$/;

  if(contactName=="") {
    $("#name-required").show();
    setTimeout(function() { $("#name-required").hide(); }, 5000);
  }else if(empattern.test(contactEmail)==false) {
    $("#email-required").show();
    setTimeout(function() { $("#email-required").hide();}, 5000);
  }else if(contactphonepattern.test(contactPhoneNumber)==false){
    $("#phone-required").show();
    setTimeout(function() { $("#phone-required").hide();}, 5000);
  }else if(contactSubject==""){
    $("#subject-required").show();
    setTimeout(function() { $("#subject-required").hide();}, 5000);
  }else if(contactMessage ==""){
    $("#message-required").show();
    setTimeout(function() { $("#message-required").hide();}, 5000);
  }
  else if($("#frm-contact-chbs_txt_agree_to_privacy_policy").prop('checked') != true){
    $("#message-required").show(); 
  }
  else{
    $.ajax({
      type: "POST",
      url: api_url+"portal/contact/us/submit", 
      data: {
        "name": $("#frm-contact-name").val(),
        "email": $("#frm-contact-email").val(),
        "phone": $("#frm-contact-phone").val(),
        "organization": $("#frm-contact-orgname").val(),
        "address": $("#frm-contact-address").val(),
        "subject": $("#frm-contact-subject").val(),
        "message":  $("#frm-contact-message").val()
      },
      success: function(response) { 
        $.getJSON("settings.json", function(json) { 
            if('cms-language_id' in localStorage) {
              var langIdx = localStorage.getItem("cms-language_id");
              langIdx = parseInt(langIdx-1);
              toastr.success(json.error_messages[langIdx].messages.contactSuccessMessage, json.error_messages[langIdx].messages.contactSuccessTitle,{timeOut: 5000});
            }else{
              // toastr.success('Your message has been saved.', 'Success',{timeOut: 5000});
              toastr.success(json.error_messages[0].messages.contactSuccessMessage, json.error_messages[0].messages.contactSuccessTitle,{timeOut: 5000});
            }
        }); 

        $("#frm-contact-name").val("");
        $("#frm-contact-email").val("");
        $("#frm-contact-phone").val("");
        $("#frm-contact-orgname").val("");
        $("#frm-contact-address").val("");
        $("#frm-contact-subject").val("");
        $("#frm-contact-message").val("");
      },
      error: function(xhr,status,error) {
        $.getJSON("settings.json", function(json) { 
            if('cms-language_id' in localStorage) {
              var langIdx = localStorage.getItem("cms-language_id");
              langIdx = parseInt(langIdx-1);
                toastr.success(error, json.error_messages[langIdx].messages.contactErrorTitle,{timeOut: 5000});
            }else{
                // toastr.error(error, 'Error',{timeOut: 5000});
                toastr.success(error, json.error_messages[0].messages.contactErrorTitle,{timeOut: 5000});
            }
        });
      }
    });
  }
}

  // $( "#frm-contact").submit(function( event ) { 
  //   event.preventDefault();
  //   var data = $("#frm-contact").serializeArray();
  //   $.ajax({
  //     type: "POST",
  //     url: api_url+"portal/contact/us/submit", 
  //     data: data,
  //     success: function(response) { 
  //       toastr.success('Your message has been saved.', 'Success',{timeOut: 5000});
  //       $("#frm-contact-name").val("");
  //       $("#frm-contact-email").val("");
  //       $("#frm-contact-message").val("");
  //     },
  //     error: function(xhr,status,error) {
  //       toastr.error(error, 'Error',{timeOut: 5000});
  //     }
  //   });
  // });
</script>