<section class="dx-consult-section-one">
    <div class="container">
        <div class="row">
            <h1 class="dx-heading wow zoomIn">${data.header_text}
                <span class="dx-heading-sub">
                    ${data.header_text_sub}
                </span>
            </h1>
        </div>
    </div>
</section>
<section class="py-0 overflow-hidden dx-consult-top-banner-area" id="">
    <div class="bg-holder" style="background-image:url(${element_data.background_image});background-position: center 0px;">
    </div>
</section>
<section class="dx-consult-section-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 service-feature-wrapper">
                <div class="row">
                    <div class="col-lg-4 col-md-4 service-feature-box wow fadeInUp">
                        <div class="heading-wrapper">
                            <div class="feature-icon">
                                <img src="${element_data.feature_icon_image01}"/>
                            </div>
                            <div class="feature-heading">
                                <h4>${data.feature_content_box01_heading}</h4>
                            </div>
                        </div>
                         <div class="feature-info-text">
                            ${data.feature_content_box01}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 service-feature-box wow fadeInUp">
                        <div class="heading-wrapper">
                            <div class="feature-icon">
                                <img src="${element_data.feature_icon_image02}"/>
                            </div>
                            <div class="feature-heading">
                                <h4>${data.feature_content_box02_heading}</h4>
                            </div>
                        </div>
                        <div class="feature-info-text">
                            ${data.feature_content_box02}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 service-feature-box wow fadeInUp">
                        <div class="heading-wrapper">
                            <div class="feature-icon">
                                <img src="${element_data.feature_icon_image03}"/>
                            </div>
                            <div class="feature-heading">
                                <h4>${data.feature_content_box03_heading}</h4>
                            </div>
                        </div>
                        <div class="feature-info-text">
                            ${data.feature_content_box03}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 service-feature-box wow fadeInUp">
                        <div class="heading-wrapper">
                            <div class="feature-icon">
                                <img src="${element_data.feature_icon_image04}"/>
                            </div>
                            <div class="feature-heading">
                                <h4>${data.feature_content_box04_heading}</h4>
                            </div>
                        </div>
                        <div class="feature-info-text">
                            ${data.feature_content_box04}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 service-feature-box wow fadeInUp">
                        <div class="heading-wrapper">
                            <div class="feature-icon">
                                <img src="${element_data.feature_icon_image05}"/>
                            </div>
                            <div class="feature-heading">
                                <h4>${data.feature_content_box05_heading}</h4>
                            </div>
                        </div>
                        <div class="feature-info-text">
                            ${data.feature_content_box05}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
// Hide header & set section tab view
$(window).scroll(function (event) {
    var scroll = $(window).scrollTop();
    if(scroll > 200) {
      $("#header").css("display", "none");
      $("#quicktabview").css("display", "initial");
      $("#quicktabview").css("position", "fixed");
      $("#quicktabview").css("top", "0px");
      $("#quicktabview").css("zIndex", "1030");
      $("#quicktabview").css("width", "100%");
      $("#quicktabview").css("background", "#ffffff");
    }else{
      $("#header").css("display", "initial");
      $("#quicktabview").css("display", "none");
    }
});


</script>