<div class="container-fluid footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 footer-top">
              <div class="row">
                  <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 info-block">
                    <img src="assets/external-images/suprieve-logo-white.png" alt="">
                    ${data.top_description}
                  </div>
                  <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 email-subscribe">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 input-block">
                          <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="Enter your email address">
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 btn-block">
                                <button class="btn btn-default site-common-btn">Subscribe</button>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-lg-12 footer-links">
              <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-6 footer-link-box">
                    <h4>Service</h4>
                    <ul>
                      <li><a href="services?sec=sec01">${data.link_item_01}</a></li>
                      <li><a href="services?sec=sec02">${data.link_item_02}</a></li>
                      <li><a href="services?sec=sec03">${data.link_item_03}</a></li>
                      <li><a href="services?sec=sec04">${data.link_item_04}</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 footer-link-box">
                      <h4>Career</h4>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 footer-link-box">
                      <h4>About</h4>
                      <ul>
                        <li><a href="about_us">${data.link_item_05}</a></li>
                        <li><a href="about_us">${data.link_item_06}</a></li>
                        <li><a href="about_us">${data.link_item_07}</a></li>
                      </ul>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 footer-link-box">
                      <h4>Contact</h4>
                      <ul>
                        <li><a href="contact_us">${data.link_item_08}</a></li>
                      </ul>
                  </div>
              </div>
            </div>
            <div class="col-lg-12 footer-bottom">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 copyright-block">
                    <span class="copyright-icon">&copy;</span> ${data.copyright_text} 
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 social-network-block">
                    <a target="_blank" href="https://twitter.com"><i class="fab fa-twitter"></i> </a>
                    <a target="_blank" href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                    <a target="_blank" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                  </div>
                </div>  
            </div>
        </div>
    </div>
  </div>
  <a class="scrollup" href="#"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a>
  