<section class="section-two-wrapper">
  <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 section-two-left wow fadeInLeft">
          <img src="${element_data.left_side_image}" alt="" width="100%;" height="auto"/>
        </div>
        <div class="col-lg-6 col-md-12 section-two-right wow fadeInRight">
          <h1>${data.right_side_main_title}</h1>
           <div class="row">
              <div class="col-lg-6 col-md-6 cat-box">
                <div class="row">
                  <div class="col-2 text-center p-0">
                    <img src="${element_data.right_side_icon_image_01}">
                  </div>
                  <div class="col-10">
                    <h5>${data.right_side_sub_title_01}</h5>
                    <div class="cat-info">${data.right_side_sub_description_01}</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 cat-box">
                <div class="row">
                  <div class="col-2 text-center p-0">
                    <img src="${element_data.right_side_icon_image_02}">
                  </div>
                  <div class="col-10">
                    <h5>${data.right_side_sub_title_02}</h5>
                    <div class="cat-info">${data.right_side_sub_description_02}</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 cat-box">
                <div class="row">
                  <div class="col-2 text-center p-0">
                    <img src="${element_data.right_side_icon_image_03}">
                  </div>
                  <div class="col-10">
                    <h5>${data.right_side_sub_title_03}</h5>
                    <div class="cat-info">${data.right_side_sub_description_03}</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 cat-box">
                <div class="row">
                  <div class="col-2 text-center p-0">
                    <img src="${element_data.right_side_icon_image_04}">
                  </div>
                  <div class="col-10">
                    <h5>${data.right_side_sub_title_04}</h5>
                    <div class="cat-info">${data.right_side_sub_description_04}</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 cat-btn-container">
                <!-- <a href="#" class="btn btn-default site-common-btn">${data.learn_more_btn}</a> -->
              </div>
           </div>
        </div>
      </div>
    </div>
</section>