<section>
  <div class="bg-holder overlay" style="background-image:url(assets/img/generic/bg-2.jpg);background-position: center top;">
  </div>
  <div class="container">
    <div class="row justify-content-center text-center wow zoomIn">
      <div class="col-lg-8">
        <p class="fs-3 fs-sm-4 text-white">${data.description}</p>
        <!-- <button class="btn btn-outline-light border-2x rounded-pill btn-lg mt-4 fs-0 py-2" type="button">Start your webapp</button> -->
      </div>
    </div>
  </div>
</section>