<section class="quick-tab-section" id="quicktabview">
        <div class="container">
          <div class="row">
              <div class="col-lg-12 quick-tab-inner" id="quick-tab-inner">
                <div class="tab-box" style="flex-basis: 33%;">
                  <a data-target="sec1" class="hvr-float">
                    <img src="${element_data.tab_image_01}"> 
                    <span class="tab-text">${data.tab_description_01}</span>
                  </a>
                  <!-- <a class="hvr-float" href="javascript:void(0);" onclick="pageRedirect('services?sec=sec01');"><img src="${element_data.tab_image_01}"> ${data.tab_description_01}</a> -->
                </div>
                <div class="tab-box" style="flex-basis: 33%;">
                  <a data-target="sec2" class="hvr-float">
                    <img src="${element_data.tab_image_02}"> 
                    <span class="tab-text">${data.tab_description_02}</span>
                  </a>
                </div>
                <div class="tab-box" style="flex-basis: 33%;">
                  <a  data-target="sec3" class="hvr-float">
                    <img src="${element_data.tab_image_03}"> 
                    <span class="tab-text">${data.tab_description_03}</span>
                  </a>
                </div>
                <!-- <div class="tab-box">
                  <a data-target="sec4" class="hvr-float">
                    <img src="${element_data.tab_image_04}"> 
                      <span class="tab-text">${data.tab_description_04}</span>
                  </a>
                </div> -->
              </div>
          </div>
        </div>
</section>
<script>
  $(document).ready(function(){
      var tabContainer = document.querySelector("#quick-tab-inner");
      var tabLinks = tabContainer.querySelectorAll("a");
      var tabContentSections = document.querySelectorAll(".tab-sec");
      

      document.addEventListener("scroll", function() {
          var secOne = document.querySelector("#sec1");
          var secTwo = document.querySelector("#sec2");
          var secThree = document.querySelector("#sec3");
          var secFour = document.querySelector("#sec4");
          var scrollPos = window.scrollY || window.scrollTop || document.getElementsByTagName("html")[0].scrollTop;
        if(secOne&&secTwo&&secThree&&secFour) {
          if(secOne.offsetTop <= scrollPos && secTwo.offsetTop > scrollPos) {
            tabLinks[0].style.color = "#31c77f";
            tabLinks[1].style.color = "#171724";
            tabLinks[2].style.color = "#171724";
            tabLinks[3].style.color = "#171724";
          }else if(secTwo.offsetTop <= scrollPos && secThree.offsetTop > scrollPos) {
            tabLinks[1].style.color = "#31c77f";
            tabLinks[0].style.color = "#171724";
            tabLinks[2].style.color = "#171724";
            tabLinks[3].style.color = "#171724";
          }else if(secThree.offsetTop <= scrollPos && secFour.offsetTop > scrollPos) {
            tabLinks[2].style.color = "#31c77f";
            tabLinks[0].style.color = "#171724";
            tabLinks[1].style.color = "#171724";
            tabLinks[3].style.color = "#171724";
          }else if(secFour.offsetTop <= scrollPos) {
            tabLinks[3].style.color = "#31c77f";
            tabLinks[2].style.color = "#171724";
            tabLinks[0].style.color = "#171724";
            tabLinks[1].style.color = "#171724";
          }
        }
      });

      // console.log(tabLinks);
      var languageCode;
      $.getJSON("settings.json", function(json) { 
        if("cms-language_code" in localStorage) {
            var langIdx = localStorage.getItem("cms-language_id");
            langIdx = parseInt(langIdx-1);
            languageCode = json.languages[langIdx].language_code;
            setLinks(languageCode);
        }else{
            languageCode = json.languages[0].language_code;
            setLinks(languageCode);
        }
      });
      function setLinks(langCode) {
        // console.log(langCode);
        var tabLinkCount = 1;
        var str = window.location.href;
        tabLinks.forEach(tl=>{
          tl.setAttribute("href", langCode+"/services#sec"+tabLinkCount);
          tabLinkCount++;
          tl.addEventListener("click", function(e){
            tabLinks.forEach(ctl=>{
              ctl.style.color = "#171724";
            });
              e.target.parentElement.style.color = "#31c77f";
          });

         if(str.indexOf("#")>-1) {
            if(str.split("#")[1]==tl.dataset.target){
              tl.style.color = "#31c77f";
              console.log(tl.dataset.target);
            }else{
              tl.style.color = "#171724";
            }
         }else{
          tabLinks[0].style.color = "#31c77f"; 
         }
        });
      }
  });

  window.addEventListener('popstate', (event) => {
    var tabContainer = document.querySelector("#quick-tab-inner");
    var tabLinks = tabContainer.querySelectorAll("a");
    tabLinks.forEach(tl=>{
      if(document.location.toString().split("#")[1]==tl.dataset.target){
        tl.style.color = "#31c77f";
      }else{
        tl.style.color = "#171724";
      }
    });
  });
  </script>