<section class="section-one-wrapper wow pulse">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 section-one-left">
          <h1>${data.left_title}</h1>
          <div class="text-content">${data.left_description}</div>
        </div>
        <div class="col-lg-6 section-one-right">
          <div class="row">
            <div class="col-12 col-sm-6 img-box">
                <img class="partner-image wow zoomIn" src="${element_data.right_image_01}"/>
            </div>
            <div class="col-12 col-sm-6 img-box">
                <img class="partner-image wow zoomIn" src="${element_data.right_image_02}"/>
            </div>
            <div class="col-12 col-sm-6 img-box">
                <img class="partner-image wow zoomIn" src="${element_data.right_image_03}"/>
            </div>
            <div class="col-12 col-sm-6 img-box">
                <img class="partner-image wow zoomIn" src="${element_data.right_image_04}"/>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>