<section class="section-one-wrapper wow pulse">
    <div class="container">
      <div class="row" style="text-align: center;">
        <div class="col-lg-6 p-1 mx-auto">
          <h1>${data.title_01}</h1>
          <div class="text-content">${data.description_01}</div>
        </div>
        </div>
        <div class="row" style="text-align: center;">
        <div class="col-lg-6 p-1 mx-auto">
            <h1>${data.title_02}</h1>
            <div class="text-content mb-2">${data.description_02}</div>
            <div class="text-content mb-2">${data.description_03}</div>
          </div>
      </div>
    </div>
</section>