<section class="py-0 overflow-hidden top-banner-area home-page-top-section" id="">
    <div class="bg-holder overlay" style="background-image:url(assets/external-images/main_banner@2x.png);background-position: center bottom;">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10 top-banner-inner wow zoomIn">
                <h1 class="ml4">
                <span class="letters letters-1">${data.title_01}</span>
                <span class="letters letters-2">${data.title_02}</span>
                <span class="letters letters-3">${data.title_03}</span>
                </h1>
                <div class="text-content">${data.description}</div>
            </div>
        </div>
    </div>
</section>
<script src="scripts/wow.js"></script>
<script src="scripts/anime.min.js"></script>
<script>
// Text animation js used
$( document ).ready(function() {
var ml4 = {};
ml4.opacityIn = [0,1];
ml4.scaleIn = [0.2, 1];
ml4.scaleOut = 3;
ml4.durationIn = 800;
ml4.durationOut = 600;
ml4.delay = 500;

anime.timeline({loop: true})
.add({
targets: '.ml4 .letters-1',
opacity: ml4.opacityIn,
scale: ml4.scaleIn,
duration: ml4.durationIn
}).add({
targets: '.ml4 .letters-1',
opacity: 0,
scale: ml4.scaleOut,
duration: ml4.durationOut,
easing: "easeInExpo",
delay: ml4.delay
}).add({
targets: '.ml4 .letters-2',
opacity: ml4.opacityIn,
scale: ml4.scaleIn,
duration: ml4.durationIn
}).add({
targets: '.ml4 .letters-2',
opacity: 0,
scale: ml4.scaleOut,
duration: ml4.durationOut,
easing: "easeInExpo",
delay: ml4.delay
}).add({
targets: '.ml4 .letters-3',
opacity: ml4.opacityIn,
scale: ml4.scaleIn,
duration: ml4.durationIn
}).add({
targets: '.ml4 .letters-3',
opacity: 0,
scale: ml4.scaleOut,
duration: ml4.durationOut,
easing: "easeInExpo",
delay: ml4.delay
}).add({
targets: '.ml4',
opacity: 0,
duration: 500,
delay: 500
});
});
</script>