<!-- <style>
#iframe-youtube-video{width:100%; height:100%;}
</style>
<section class="py-0 overflow-hidden top-banner-area home-page-top-section" id="">
    <div class="bg-holder overlay" style="background-image:url(assets/external-images/main_banner@2x.png);background-position: center bottom;">
    </div>
    <div class="bg-holder overlay" style="width:100%; height:100vh; overflow: hidden;">
        <input id="iframe-youtube-video-link" value="${data.main_background_video_link}" type="hidden" />
        <iframe id="iframe-youtube-video" frameBorder="0" class="embed-responsive-item" allowscriptaccess="always" allow="autoplay" allowfullscreen></iframe>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10 top-banner-inner">
                <h1>
                <span class="letters letters-1">${data.company_name}</span>
                </h1>
            </div>
        </div>
    </div>
</section>
<script>
var videoID = getUrlParameterByName('v',$('#iframe-youtube-video-link').val());
var playlistID = getUrlParameterByName('list',$('#iframe-youtube-video-link').val());
var YoutubeLink = 'https://www.youtube.com/embed/'+videoID+'?playlist='+playlistID+'&autoplay=1&mute=1&loop=1&rel=0&showinfo=0&controls=0&autohide=1'; 
$('#iframe-youtube-video').attr('src',YoutubeLink);
</script> -->


<style>
#myVideo {
  position: relative;
  right: 0;
  top: 0;
  width: 100%; 
  /* min-height: 100%; */
}

.content {
  position: absolute;
  top:48vh;
  /* background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; */
  width: 100%;
  padding: 20px;
}
</style>
<section class="py-0 overflow-hidden top-banner-area home-page-top-section">
    <video autoplay muted loop id="myVideo">
        <source src="assets/video/home_page_top_background_video.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
      <div class="content">
        <h1 style="text-align: center;">
            <img src="assets/external-images/suprieve-logo.png" style="width:30vw;" />
        </h1>
      </div>
    <!-- <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10 top-banner-inner">
                <h1>
                <span class="letters letters-1">${data.company_name}</span>
                </h1>
            </div>
        </div>
    </div> -->
</section>

<!-- <script>
var videoID = getUrlParameterByName('v',$('#iframe-youtube-video-link').val());
var playlistID = getUrlParameterByName('list',$('#iframe-youtube-video-link').val());
var YoutubeLink = 'https://www.youtube.com/embed/'+videoID+'?playlist='+playlistID+'&autoplay=1&mute=1&loop=1&rel=0&showinfo=0&controls=0&autohide=1'; 
$('#iframe-youtube-video').attr('src',YoutubeLink);
</script> -->






