<section class="section-three-wrapper">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 section-three-top">
              <h1>${data.top_main_title}</h1>
                <div class="text-content">${data.top_main_description}</div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 section-three-bottom">
              <div class="cat-box wow fadeInUp">
                <img src="${element_data.icon_image_01}" alt="">
                <h5>${data.sub_title_01}</h5>
                <div class="text-content">${data.sub_description_01}</div>
              </div>
              <div class="cat-box wow fadeInUp">
                <img src="${element_data.icon_image_02}" alt="">
                <h5>${data.sub_title_02}</h5>
                <div class="text-content">${data.sub_description_02}</div>
              </div>
              <div class="cat-box wow fadeInUp">
                <img src="${element_data.icon_image_03}" alt="">
                <h5>${data.sub_title_03}</h5>
                <div class="text-content">${data.sub_description_03}</div>
              </div>
              <!-- <div class="cat-box wow fadeInUp">
                <img src="${element_data.icon_image_04}" alt="">
                <h5>${data.sub_title_04}</h5>
                <div class="text-content">${data.sub_description_04}</div>
              </div>
              <div class="cat-box wow fadeInUp">
                <img src="${element_data.icon_image_05}" alt="">
                <h5>${data.sub_title_05}</h5>
                <div class="text-content">${data.sub_description_05}</div>
              </div>
              <div class="cat-box wow fadeInUp">
                <img src="${element_data.icon_image_06}" alt="">
                <h5>${data.sub_title_06}</h5>
                <div class="text-content">${data.sub_description_06}</div>
              </div> -->
          </div>
      </div>
  </div>
</section>