<section class="overflow-hidden job-section-one" id="banner">
    <div class="container">
      <div class="row justify-content-center align-items-center pt-8 pt-lg-10 pb-lg-9 pb-xl-0">
        <div class="col-lg-10 col-md-10 inner-container wow zoomIn">
            <h1 id="header_job_title" class="top-banner-heading wow zoomIn"></h1>
            <div class="link-container">
            </div>
            <div class="row">
                <div id="div-career-content" class="col-lg-12 col-md-12 text-content"></div>
            </div>
        </div>
      </div>
    </div>
  </section>
<script>
function goToSubmitCv(relId){
  var reUrl = "submit_cv?unique_id="+relId.toString();
  pageRedirect(reUrl);
}
// alert('fdnvkjbjkdfvnks,');
var unique_id = getUrlParameterByName('unique_id'); 
// alert(unique_id);
getJobsUniqueId(); 
function getJobsUniqueId(){ 
if(unique_id!=null&&unique_id!=''){
$.ajax({ 
url: api_url+'portal/plugins/careers/vacancy/details?unique_id='+unique_id, 
type: 'GET', 
success: function(response){ 
console.log(response);
$.each(response, function(i, data){  
if(data.language_id == language_id){
$('#header_job_title').html(data.title); 

var description  = data.description;
var appendHtml = '';
appendHtml += "<div class='job-desc'>"+
"<div class='job-desc-left'>"+
"<h2>"+data.title+"</h2>"+
"<p>"+description+"</p>"+
"</div>"+
"<div class='job-desc-right'>"+
"<img src="+data.image+">"+
"</div>"+
"</div>"+
"<div class='job-desc-btn-container'>"+
"<a href='javascript:void(0);' onclick='goToSubmitCv("+data.unique_id+")' class='btn btn-success site-common-btn'>"+data.button_text+"</a>"+
"</div>"; 
$('#div-career-content').append(appendHtml);
}
}); 
}, 
error: function(xhr, status, error) { alert(error);	} 
}); 
}
else{
// window.location.replace("index.html");
}
}
</script>