<section class="privacy-policy-section-one"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 text-content">
                <h1>Privacy Policy</h1>
                ${data.privacy_policy_text01}<br/><br/>
                ${data.privacy_policy_text02}<br/><br/>
                ${data.privacy_policy_text03}<br/><br/>
                <div class="condition-list-container">
                    <ul>
                        <li>${data.privacy_policy_text04}</li>
                        <li>${data.privacy_policy_text05}</li>
                        <li>${data.privacy_policy_text06}</li>
                        <li>${data.privacy_policy_text07}</li>
                        <li>${data.privacy_policy_text08}</li>
                        
                        <li>${data.privacy_policy_text09}</li>
                        <li>${data.privacy_policy_text10}</li>
                        <li>${data.privacy_policy_text11}</li>
                        <li>${data.privacy_policy_text12}</li>
                        <li>${data.privacy_policy_text13}</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>