
<!-- <section class="service-section-first" id="sec03">
  <div class="container nolr-padding">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 inner-container">
          <div class="row">
              <div class="col-lg-8 col-md-8 left-col wow slideInLeft">
                  <img src="assets/external-images/service_img_03@2x.png" alt=""/>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 right-col wow slideInRight">
                       <h1>${data.main_title}</h1>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 cat-wrapper">
                        <div class="row cat-box">
                          <div class="col-1 text-center p-0">
                            <img src="assets/external-images/Computer_black.png">
                          </div>
                          <div class="col-11">
                            <h5>${data.sub_title_01}</h5>
                            <div class="cat-info">${data.sub_description_01}</div>
                          </div>
                        </div>
                        <div class="row cat-box">
                          <div class="col-1 text-center p-0">
                            <img src="assets/external-images/shutdown_black.png">
                          </div>
                          <div class="col-11">
                            <h5>${data.sub_title_02}</h5>
                            <div class="cat-info">${data.sub_description_02}</div>
                          </div>
                        </div>
                        <div class="row cat-box">
                          <div class="col-1 text-center p-0">
                            <img src="assets/external-images/ic_smartphone_verify_black.png">
                          </div>
                          <div class="col-11">
                            <h5>${data.sub_title_03}</h5>
                            <div class="cat-info">${data.sub_description_03}</div>
                          </div>
                        </div>
                        <div class="row cat-box">
                          <div class="col-1 text-center p-0">
                            <img src="assets/external-images/equalizer-black.png">
                          </div>
                          <div class="col-11">
                            <h5>${data.sub_title_04}</h5>
                            <div class="cat-info">${data.sub_description_04}</div>
                          </div>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</section> -->
<div id="sec3"></div>
<section data-tabcontent="3"class="service-section-three tab-sec">
    <div class="container">
        <div class="row">
          <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 inner-container">
            <div class="row">
                <div class="col-lg-6 left-col wow slideInLeft">
                  <img src="${element_data.comp_image}" alt=""/>
                </div>
                <div class="col-lg-6 right-col wow slideInRight">
                    <h1>${data.sub_heading}</h1>
                    <div class="text-content">
                      ${data.text_content}
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</section>
