<!-- <section class="service-section-two">
  <div class="container nolr-padding">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 inner-container">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 left-col wow slideInRight">
                    <h1>${data.main_title}</h1>
                    <div class="text-content">
                      ${data.description_01}<br/><br/>
                      ${data.description_02}<br/><br/>
                      ${data.description_03}
                    </div>
              </div>
              <div class="col-lg-8 col-md-8 right-col wow slideInLeft">
                <img src="assets/external-images/service_img_03@2x.png" alt=""/>
            </div>
          </div>
        </div>
      </div>
  </div>
</section> -->
<div id="sec4"></div>
<section data-tabcontent="4" class="service-section-four tab-sec">
    <div class="container">
        <div class="row">
          <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 inner-container">
            <div class="row">
                <div class="col-lg-6 left-col wow slideInLeft">
                  <img src="${element_data.comp_image}" alt=""/>
                </div>
                <div class="col-lg-6 right-col wow slideInRight">
                    <h1>${data.sub_heading}</h1>
                    <div class="text-content">
                      ${data.text_content}
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</section>