<!-- <section class="py-0 overflow-hidden service-top-banner-area wow fadeIn" id="banner">
  <div class="bg-holder overlay service-top-right wow fadeInRight" style="background-image:url(assets/external-images/service_img_01@2x.png);background-position: 100px top;"></div>
  <div  class="service-top-left wow fadeInLeft">
        <div class="service-mobile-bg">
          <img src="assets/external-images/service_img_01@2x.png" alt="">
        </div>
      <h1>${data.left_title}</h1>
      <div class="">
          <ul>
            <li><a id="linksec01" href="#sec01">${data.link_01}</a></li>
            <li><a id="linksec02" href="#sec02">${data.link_02}</a></li>
            <li><a id="linksec03" href="#sec03">${data.link_03}</a></li>
            <li><a id="linksec04" href="#sec04">${data.link_04}</a></li>
          </ul>
      </div>
  </div>
</section> -->
<div id="sec1"></div>
<section data-tabcontent="1" class="service-section-first tab-sec">
    <div class="container">
        <div class="row">
          <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 inner-container">
            <div class="row">
                <div class="col-lg-6 left-col wow slideInLeft">
                  <img src="${element_data.comp_image}" alt=""/>
                </div>
                <div class="col-lg-6 right-col wow slideInRight">
                    <h1>${data.sub_heading}</h1>
                    <div class="text-content">
                      ${data.text_content}
                      <div class="learn-more-dx" id="learnMoreDx">
                        <a class="btn site-common-btn">${data.learn_button_text}</a>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</section>
<script>
$(document).ready(function(){
  var learnMoreDxBtn = document.querySelector("#learnMoreDx a");
  var str = window.location.href;
  if(str.indexOf("#")) {
    var pathArray = str.split("#");
    var relSection = pathArray[1];

    $.getJSON("settings.json", function(json) { 
      if('cms-language_id' in localStorage) {
        var langIdx = localStorage.getItem("cms-language_id");
        langIdx = parseInt(langIdx-1);
        if(relSection=="sec1") {
          window.location.replace(json.languages[langIdx].language_code+'/services#'+relSection);
        }else if(relSection=="sec2") {
          window.location.replace(json.languages[langIdx].language_code+'/services#'+relSection);
        }else if(relSection=="sec3") {
          window.location.replace(json.languages[langIdx].language_code+'/services#'+relSection);
        }else if(relSection=="sec4"){
          window.location.replace(json.languages[langIdx].language_code+'/services#'+relSection);
        }
        learnMoreDxBtn.setAttribute("href", json.languages[langIdx].language_code+"/dx_consulting");
      }else{
        if(relSection=="sec1") {
          window.location.replace(json.languages[0].language_code+'/services#'+relSection);
         
        }else if(relSection=="sec2") {
          window.location.replace(json.languages[0].language_code+'/services#'+relSection);
          
        }else if(relSection=="sec3") {
          window.location.replace(json.languages[0].language_code+'/services#'+relSection);
         
        }else if(relSection=="sec4"){
          window.location.replace(json.languages[0].language_code+'/services#'+relSection);
        }
        learnMoreDxBtn.setAttribute("href", json.languages[0].language_code+"/dx_consulting");
      }
    }); 
  }
});

// Hide header & set section tab view
$(window).scroll(function (event) {
    var scroll = $(window).scrollTop();
    if(scroll > 200) {
      $("#header").css("display", "none");
      $("#quicktabview").css("display", "initial");
      $("#quicktabview").css("position", "fixed");
      $("#quicktabview").css("top", "0px");
      $("#quicktabview").css("zIndex", "1030");
      $("#quicktabview").css("width", "100%");
      $("#quicktabview").css("background", "#ffffff");
    }else{
      $("#header").css("display", "initial");
      $("#quicktabview").css("display", "none");
    }
});
</script>          
    
