<!-- <section class="py-0 overflow-hidden service-digital-transformation wow zoomIn" id="banner">
  <div class="bg-holder overlay" style="background-image:url(assets/external-images/service_img_02@2x.png);background-position: center bottom;">
  </div>
  <div class="container">
    <div class="row justify-content-center align-items-center pt-3 pt-lg-3 pb-lg-3">
      <div class="col-lg-12 col-md-12 inner-container"> -->
          <!-- <h1 class="wow slideInLeft">DX - Digital Transformation</h1> -->
          <!-- <h1 class="text-white font-weight-light"><span class="typed-text font-weight-bold" data-typed-text='["${data.change_title_01}","${data.change_title_02}"]'></span>${data.fixed_title}</h1>
          <div class="row">
            <div class="col-lg-4 cat-wrapper">
                <div class="cat-box wow slideInLeft">
                  <h5><span><img src="assets/external-images/equalizer_white.png"></span>${data.sub_title_01}</h5>
                  <div class="cat-info">${data.sub_description_01}</div>  
                </div>
                <div class="cat-box wow slideInLeft">
                  <h5><span><img src="assets/external-images/equalizer_white.png"></span>${data.sub_title_02}</h5>
                  <div class="cat-info">${data.sub_description_02}</div>  
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section> -->
<div id="sec2"></div>
<section data-tabcontent="2" class="service-section-two tab-sec">
    <div class="container">
        <div class="row">
          <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 inner-container">
            <div class="row">
                <div class="col-lg-6 left-col wow slideInLeft">
                  <img src="${element_data.comp_image}" alt=""/>
                </div>
                <div class="col-lg-6 right-col wow slideInRight">
                    <h1>${data.sub_heading}</h1>
                    <div class="text-content">
                      ${data.text_content}
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</section>