<section class="overflow-hidden submitcv-section-one">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-10 col-md-10 inner-container wow zoomIn">
            <h1 class="top-banner-heading wow zoomIn" id="header_job_title"></h1>
            <div class="row">
                <div class="col-lg-10 col-md-12 text-content">
                    <h2>${data.header_text}</h2>
                    <div class="form-content">
                      <!-- <form id="submit-cv-form"> -->
                          <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 label-sec">
                                  ${data.resume_cv}<span>*</span>
                                </div>
                                <div class="col-lg-6 col-md-6 input-sec file-upload-input">
                                    <input id="upload-cv-input" type="file" onchange="uploadCvFile()" accept=".pdf,.doc" style="display: none;">
                                    <input id="frm-cv" type="hidden">
                                    <input id="frm-title" type="hidden">
                                    <button class="btn site-common-btn" onclick="selectCvFile()"><i class="fas fa-paperclip"></i> <span id="pick-cv-file-btn-text">Attach Resume / CV </span></button>
                                    <div class="file-types">${data.accepted_file_type_text}</div>
                                    <div id="cv-file-required" class="alert alert-danger" role="alert" style="margin-top: 15px;">File is required!</div>
                                </div>
                                
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 label-sec">
                                  ${data.full_name}<span>*</span>
                                </div>
                                <div class="col-lg-6 col-md-6 input-sec">
                                    <input id="frm-name" class="form-control" type="text">
                                    <div id="app-name-required" class="alert alert-danger" role="alert" style="margin-top: 15px;">Name is required!</div>
                                </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 label-sec">
                                  ${data.email} <span>*</span>
                                </div>
                                <div class="col-lg-6 col-md-6 input-sec">
                                    <input id="frm-email" class="form-control" type="email">
                                    <div id="app-email-required" class="alert alert-danger" role="alert" style="margin-top: 15px;">Please enter a valid Email Address!</div>
                                </div>
                            </div>
                          </div>
                          <div class="form-group">
                              <div class="row">
                                  <div class="col-lg-6 col-md-6 label-sec">
                                    ${data.phone} <span>*</span>
                                  </div>
                                  <div class="col-lg-6 col-md-6 input-sec">
                                      <input id="frm-phone" class="form-control" type="text">
                                      <div id="app-phone-required" class="alert alert-danger" role="alert" style="margin-top: 15px;">Please enter a valid Phone number!</div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="row">
                                  <div class="col-lg-6 col-md-6 label-sec">
                                    ${data.current_company} <span>*</span>
                                  </div>
                                  <div class="col-lg-6 col-md-6 input-sec">
                                      <input id="frm-current_company" class="form-control" type="text">
                                      <div id="app-curcompany-required" class="alert alert-danger" role="alert" style="margin-top: 15px;">Current Company is required!</div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                            <h2>${data.additional_information}</h2>
                              <div class="row">
                                  <div class="col-lg-12 col-md-12 input-sec">
                                      <textarea id="frm-description" class="form-control" rows="5" placeholder="${data.additional_info_placeholder}"></textarea>
                                  </div>
                              </div>
                          </div>
                          <div class="submit-btn-container">
                              <button class="btn btn-default site-common-btn" onclick="saveSubmitCv()">${data.submitcv_submit_btn}</button>
                          </div>
                      <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</section>
<script>
var unique_id = getUrlParameterByName('unique_id'); 
getJobsUniqueId(); 
function getJobsUniqueId(){ 
if(unique_id!=null&&unique_id!=''){ 
$.ajax({ 
url: api_url+'portal/plugins/careers/vacancy/details?unique_id='+unique_id, 
type: 'GET', 
success: function(response){ 
$.each(response, function(i, data){  
if(data.language_id == language_id){ 
$('#header_job_title').html(data.title); 
$('#frm-title').val(data.title); 
}
}); 
}, 
error: function(xhr, status, error) { alert(error);	} 
}); 
}
else{
// window.location.replace("index.html");
}
} 

// function saveCV(){
// $.ajax({ 
// type: "POST",
// url: api_url + 'portal/plugins/careers/vacancy/apply',
// data: {
// "cv":$('#frm-cv').val(),
// "name":$('#frm-name').val(),
// "email":$('#frm-email').val(),
// "phone":$('#frm-phone').val(),
// "current_company":$('#frm-current_company').val(),
// "description":$('#frm-description').val()
// }, 
// success: function(response){ 
// console.log(response); 
// location.reload(); 
// },
// error: function(xhr, status, error) {
// // toastr.warning('Error.!', {timeOut: 5000}); 
// alert('error');
// }
// });
// }


// Commented on 13-07-2020
// $( "#submit-cv-form").submit(function( event ) { 
// event.preventDefault(); 
// $.ajax({ 
// type: "POST",
// url: api_url + 'portal/plugins/careers/vacancy/apply',
// data: {
// "cv":$('#frm-cv').val(),
// "title":$('#frm-title').val(),
// "name":$('#frm-name').val(),
// "email":$('#frm-email').val(),
// "phone":$('#frm-phone').val(),
// "current_company":$('#frm-current_company').val(),
// "description":$('#frm-description').val(),
// "language_id":language_id
// }, 
// success: function(response){ 
// toastr.success('Your resume has been saved.', 'Success',{timeOut: 5000});
// $("#upload-cv-input").val("");
// $('#frm-cv').val("");
// $('#frm-title').val("");
// $('#frm-name').val("");
// $('#frm-email').val("");
// $('#frm-phone').val("");
// $('#frm-current_company').val("");
// $('#frm-description').val("");
// },
// error: function(xhr, status, error) {
// // toastr.warning('Error.!', {timeOut: 5000}); 
// toastr.error(error, 'Error',{timeOut: 5000});
// }
// });
// });


function selectCvFile() {
  $("#upload-cv-input").click();
}

function uploadCvFile(){ 
var dataimg = new FormData();
dataimg.append('image', $('#upload-cv-input')[0].files[0]); 
$.ajax({ 
url: api_url+"portal/plugins/careers/vacancy/image/upload",
type:"PUT",
cache : false,
contentType : false,
processData: false,
data: dataimg,
success: function(response){ 
$('#frm-cv').val(response.image); 
} 
});
} 

// Overwrite default validation message of phone number field
// $('#frm-phone').on('change invalid', function() {
// var textfield = $(this).get(0);
// textfield.setCustomValidity('');
// if (!textfield.validity.valid) {
// textfield.setCustomValidity('Please enter a valid Phone number');  
// }
// });


// New validation form submit function added on 13-07-2020

// Set validation messages  
$(document).ready(function(){
  $.getJSON("settings.json", function(json) { 
      if(localStorage.cms-language_id!="") {
        var langIdx = localStorage.getItem("cms-language_id");
        langIdx = parseInt(langIdx-1);
        $("#cv-file-required").html(json.error_messages[langIdx].messages.submitCvFile);
        $("#app-name-required").html(json.error_messages[langIdx].messages.submitCvName);
        $("#app-email-required").html(json.error_messages[langIdx].messages.submitCvEmail);
        $('#app-phone-required').html(json.error_messages[langIdx].messages.submitCvPhone);
        $('#app-curcompany-required').html(json.error_messages[langIdx].messages.submitCvCompany);
        $("#pick-cv-file-btn-text").html(json.button_text[langIdx].btnText.submitCvSelectFile);
      }else{
        $("#cv-file-required").html(json.error_messages[0].messages.submitCvFile);
        $("#app-name-required").html(json.error_messages[0].messages.submitCvName);
        $("#app-email-required").html(json.error_messages[0].messages.submitCvEmail);
        $('#app-phone-required').html(json.error_messages[0].messages.submitCvPhone);
        $('#app-curcompany-required').html(json.error_messages[0].messages.submitCvCompany);
        $("#pick-cv-file-btn-text").html(json.button_text[0].btnText.submitCvSelectFile);
      }
  }); 
});

// Required for validations
$('#cv-file-required').hide();
$('#app-name-required').hide();
$('#app-email-required').hide();
$('#app-phone-required').hide();
$('#app-curcompany-required').hide();

function saveSubmitCv() {
  var cvFile = $('#upload-cv-input').val();
  var applicantName = $('#frm-name').val();
  var applicantEmail = $('#frm-email').val();
  var applicantPhone = $('#frm-phone').val();
  var applicantCurCompany = $('#frm-current_company').val();
  var applicantAdditionalInfo = $('#frm-current_company').val();

  var scvempattern = /^[^@]+@[^@]+[\.][^@]+$/i;
  var scvphonepattern = /^[0-9]+$/;

  if(cvFile=="") {
    $("#cv-file-required").show();
    setTimeout(function() { $("#cv-file-required").hide(); }, 5000);

  }else if(applicantName==""){
    $("#app-name-required").show();
    setTimeout(function() { $("#app-name-required").hide(); }, 5000);
  }else if(scvempattern.test(applicantEmail)==false){
    $("#app-email-required").show();
    setTimeout(function() { $("#app-email-required").hide(); }, 5000);
  }else if(scvphonepattern.test(applicantPhone)==false){
    $("#app-phone-required").show();
    setTimeout(function() { $("#app-phone-required").hide(); }, 5000);
  }else if(applicantCurCompany==""){
    $("#app-curcompany-required").show();
    setTimeout(function() { $("#app-curcompany-required").hide(); }, 5000);
  }else if(applicantAdditionalInfo==""){
    $("#app-addinfo-required").show();
    setTimeout(function() { $("#app-addinfo-required").hide(); }, 5000);
  }else{
    $.ajax({ 
      type: "POST",
      url: api_url + 'portal/plugins/careers/vacancy/apply',
      data: {
      "cv":$('#frm-cv').val(),
      "title":$('#frm-title').val(),
      "name":$('#frm-name').val(),
      "email":$('#frm-email').val(),
      "phone":$('#frm-phone').val(),
      "current_company":$('#frm-current_company').val(),
      "description":$('#frm-description').val(),
      "language_id":language_id
      }, 
      success: function(response){ 

        $.getJSON("settings.json", function(json) { 
            if('cms-language_id' in localStorage) {
              var langIdx = localStorage.getItem("cms-language_id");
              langIdx = parseInt(langIdx-1);
              toastr.success(json.error_messages[langIdx].messages.submitCvSuccessMessage, json.error_messages[langIdx].messages.submitCvSuccessTitle,{timeOut: 5000});
            }else{
              // toastr.success('Your resume has been saved.', 'Success',{timeOut: 5000});
              toastr.success(json.error_messages[0].messages.submitCvSuccessMessage, json.error_messages[0].messages.submitCvSuccessTitle,{timeOut: 5000});
            }
        }); 
      
      $("#upload-cv-input").val("");
      $('#frm-cv').val("");
      $('#frm-title').val("");
      $('#frm-name').val("");
      $('#frm-email').val("");
      $('#frm-phone').val("");
      $('#frm-current_company').val("");
      $('#frm-description').val("");
      },
      error: function(xhr, status, error) {
        $.getJSON("settings.json", function(json) { 
            if('cms-language_id' in localStorage) {
              var langIdx = localStorage.getItem("cms-language_id");
              langIdx = parseInt(langIdx-1);
                toastr.success(error, json.error_messages[langIdx].messages.submitCvErrorTitle,{timeOut: 5000});
            }else{
                // toastr.error(error, 'Error',{timeOut: 5000});
                toastr.success(error, json.error_messages[0].messages.submitCvErrorTitle,{timeOut: 5000});
            }
        });  
      }
    });
  }
}
</script>
    
