<div class="header">
    <div class="header-left">
        <a href="#" class="logo">
            <img src="assets/img/external-images/suprieve-logo.png" alt="Logo" style="display: inline-block;width: 90%;">
        </a>
        <a href="#" class="logo logo-small">
            <img src="assets/img/external-images/suprieve-logo.png" alt="Logo" width="30" height="30">
        </a>
    </div>
    <ul class="nav user-menu">
        <!-- <li style="margin-top:18px;">
            <select id="language_id">
                <option value="">&nbsp;&nbsp;&nbsp;JA&nbsp;&nbsp;&nbsp;</option>
            </select>
        </li> -->
        <li class="nav-item dropdown has-arrow">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                <span class="user-img"><img class="rounded-circle" src="assets/img/profiles/avatar-01.jpg" width="31" alt="Ryan Taylor"></span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" onclick="logout();">Logout</a>
            </div>
        </li>
    </ul>
</div>
<script>
loadLanguages(); 
function loadLanguages(){ 
$('#language_id').empty(); 
$.getJSON("../settings.json", function(json) { 
$.each(json.languages, function(i, language){ 
$('#language_id').append('<option value="'+language.language_id+'">&nbsp;&nbsp;&nbsp;'+language.name+'&nbsp;&nbsp;&nbsp;</option>');
}); 
if(localStorage.getItem("cms-language_id")){$('#language_id').val(localStorage.getItem("cms-language_id"));}
else{localStorage.setItem("cms-language_id", $('#language_id').val());}
}); 
}

$('#language_id').change(function(){  
localStorage.setItem("cms-language_id", $('#language_id').val()); 
window.location.replace("index.html");
});

</script>

